/*
Theme Name: Desenvolvimentos
Theme URI: http://www.desenvolvimentos.com.br
Author: HC Desenvolvimentos
Author URI: https://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: desenvolvimentos
Tags: 

--------------------------------------------
ESTRUTURAÇÃO BASE (HC Desenvolvimentos v1)
--------------------------------------------
**** DECLARAÇÃO DE VARIÁVEIS
**** ESTILOS GERAIS
**** BODY
**** TOPO
**** RODAPÉ
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Open Sans', sans-serif;
font-family: 'Sarala', sans-serif;

*/

/* VARIÁVEIS */
:root{
  --open-sans: 'Open Sans', sans-serif;
  --sarala: 'Sarala', sans-serif;
  --verde: #a4cd39;
  --roxo: #4d3f7d;
  --cinza: #ebebeb;
  --cinza-claro: #f7f7f7;
  --azul-texto: #002a35;
  --cinza-texto: rgba(0, 0, 0, 0.5);
  --branco-texto: rgba(255, 255, 255, 0.7);
}
/* VARIÁVEIS */

/* IMPORTAÇÃO DE FONTES*/
@font-face {
	font-family: panton-black;
	src: url('../fonts/panton/Panton-BlackCaps.otf');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: panton-black-italic;
	src: url('../fonts/panton/Panton-BlackitalicCaps.otf');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: panton-light;
	src: url('../fonts/panton/Panton-LightCaps.otf');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: panton-light-italic;
	src: url('../fonts/panton/Panton-LightitalicCaps.otf');
	font-style: normal;
	font-weight: normal;
}

/* GERAL */
*{
	margin: 0;
	padding: 0;
}

nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i{
	height: initial;
	line-height: initial;
}
nav {
	color: initial;
	background-color: initial;
	width: initial;
	height: initial;
	line-height: initial;
}

button:focus{
	background: transparent;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.col-md-6, .col-md-7, .col-md-5, .col-md-3, .col-md-2, .col-md-4, .col-md-1, .col-md-9{
	padding: 0;
}

.col-mobile{
	display: none;
}

.row{
	margin: 0;
}

.hidden{
	display: none;
}

.full-container, .large-container, .mid-container{
	margin: 0 auto;
	width: 100%;
	padding: 0 10px;
}

.full-container{
	max-width: 1582px;
}

.large-container{
	max-width: 1200px;
}

.mid-container{
	max-width: 1030px;
}

.titulo{
	margin: 0;
	font-family: var(--sarala);
	font-weight: 600;
	font-size: 44px;
}

.primario{
	font-size: 90px;
}

.secundario{}

.terciario{}

.button-agendar{
	color: #fff;
	background-color: var(--verde);
	padding: 15px 40px;
	border-radius: 5px;
	text-transform: uppercase;
	font-family: var(--sarala);
	font-size: 13.4px;
	font-weight: 600;
	display: inline-block;
}
.button-agendar:hover{
	color: #fff;
}

li{
	list-style-type: none;
	list-style-position: inside;
}

a:hover{
	color: inherit;
	text-decoration: none;
}
/* GERAL */


/* BODY */
body{}
/* BODY */

/* HEADER */
header{
	position: absolute;
	display: block;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 100%;
	padding: 55px 0 0;
	z-index: 5;
}
	header .row{
		align-items: center;
	}
	header a{

	}
		header a img{
			width: 100%;
			max-width: 140px;
		}
	header .navbar{
		padding: 0;
		text-align: right;
		display: block;
	}
		header .navbar .navbar-toggler{
			display: none;
			padding: 0;
			margin: 0;
		}
			header .navbar .navbar-toggler .navbar-toggler-icon{
				text-align: center;
				display: block;
				padding: 0;
				width: 28px;
				height: 27px;
				line-height: 20px;
			}
				header .navbar .navbar-toggler .navbar-toggler-icon img{

				}
		header .navbar .navbar-collapse{

		}
			header .navbar .navbar-collapse .navbar-nav{
				text-align: center;
				margin: 0 auto;
			}
				header .navbar .navbar-collapse .navbar-nav .nav-item{
					padding: 0 28px;
					display: inline-block;
					text-align: center;
				}
					header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link{
						padding: 0;
						color: #fff;
						font-family: var(--sarala);
						font-size: 12px;
						font-weight: 600;
					}
				header .navbar .navbar-collapse .navbar-nav .nav-item.active{
					background: transparent;
				}
					header .navbar .navbar-collapse .navbar-nav .nav-item.active .nav-link{

					}
	header .redes-sociais{
		text-align: right;
		margin: 0;
	}
		header .redes-sociais li{
			display: inline-block;
			margin-left: 20px;
		}
			header .redes-sociais li a{

			}
				header .redes-sociais li a img{
					width: 100%;
					max-width: 16px;
				}
/* HEADER */


/* FOOTER */
footer{

}
	footer .logo-footer{
		display: inline-block;
		margin: 0 0 50px;
	}
		footer .logo-footer img{
			width: 100%;
			max-width: 140px;
		}
	footer .menu-footer{

	}
		footer .menu-footer .titulo{
			font-size: 13px;
			margin: 0 0 30px;
		}
		footer .menu-footer nav{

		}
			footer .menu-footer nav a{
				display: block;
				max-width: fit-content;
				color: var(--cinza-texto);
				font-size: 14px;
				margin: 0 0 15px;
			}
		footer .menu-footer nav.social-media{

		}
			footer .menu-footer nav.social-media a{

			}
				footer .menu-footer nav.social-media a img{
					width: 100%;
					max-width: 16px;
					filter: brightness(0.5);
				}
		footer .menu-footer ul{
			margin: 0;
		}
			footer .menu-footer ul li{
				margin: 0 0 40px;
			}
				footer .menu-footer ul li a, footer .menu-footer ul li span{
					color: var(--cinza-texto);
					font-size: 14px;
				}
				footer .menu-footer ul li a{
					display: block;
					max-width: fit-content;
				}
					footer .menu-footer ul li a p{
						margin: 0;
					}
				footer .menu-footer ul li span{

				}
		footer .menu-footer.t-clinico{
			padding-left: 35px;
		}
		footer .menu-footer.t-estetico{
			padding-left: 75px;
		}
		footer .menu-footer.local{
			padding-left: 28px;
		}
		footer .menu-footer.r-social{
			padding-left: 22px;
		}
	footer .copyright{
		margin: 0;
		border-top: 1px solid #d8d8d8;
		padding: 45px 0;
	}
		footer .copyright p{
			font-size: 14px;
			color: #294c54;
			margin: 0;
		}
		footer .copyright .text-right p{
			color: var(--cinza-texto);
		}
			footer .copyright p img{
				width: 100%;
				max-width: 50px;
			}
/* FOOTER */


/* INICIAL */
.pg-inicial{

}
	.pg-inicial .secao-destaque{

	}
		.pg-inicial .secao-destaque .carrossel-destaque{

		}
			.pg-inicial .secao-destaque .carrossel-destaque .item{
				background-image: url(../img/banner.jpg);
				padding: 221px 0;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				height: 782px;
			}
				.pg-inicial .secao-destaque .carrossel-destaque .item article{
					color: #fff;
				}
					.pg-inicial .secao-destaque .carrossel-destaque .item article .titulo{
						max-width: 710px;
						width: 100%;
						line-height: 85px;
					}
					.pg-inicial .secao-destaque .carrossel-destaque .item article p{
						color: var(--branco-texto);
						max-width: 500px;
						font-size: 15px;
						line-height: 26px;
						margin: 34px 0;
					}
					.pg-inicial .secao-destaque .carrossel-destaque .item article .button-agendar{

					}
			.pg-inicial .secao-destaque .carrossel-destaque .owl-dots{
				margin: 0;
				position: absolute;
				top: 50%;
				right: 183px;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);
			}
				.pg-inicial .secao-destaque .carrossel-destaque .owl-dots .owl-dot{
					display: block;
				}
					.pg-inicial .secao-destaque .carrossel-destaque .owl-dots .owl-dot span{
						border: 1px solid #fff;
						background-color: transparent;
						width: 8px;
						height: 8px;
						margin: 5px 10px;
					}
				.pg-inicial .secao-destaque .carrossel-destaque .owl-dots .owl-dot.active{

				}
					.pg-inicial .secao-destaque .carrossel-destaque .owl-dots .owl-dot.active span{
						background-color: #fff;
						height: 38px;
						border: none;
						width: 8px;
					}
	.pg-inicial .secao-sobre{
		background-color: var(--cinza-claro);
		position: relative;
		padding: 40px 0 135px;
	}
	.pg-inicial .secao-sobre::before{
		content: '';
		position: absolute;
		display: block;
		top: -65px;
		right: 0;
		width: 1097px;
		height: 780px;
		background-color: #fff;
		border-radius: 8px 0 0 8px;
		z-index: 1;
	}
		.pg-inicial .secao-sobre .carrossel-sobre{
			box-shadow: 0 23px 57px 0 rgba(0,0,0,0.1);
			-o-box-shadow: 0 23px 57px 0 rgba(0,0,0,0.1);
			-ms-box-shadow: 0 23px 57px 0 rgba(0,0,0,0.1);
			-moz-box-shadow: 0 23px 57px 0 rgba(0,0,0,0.1);
			-webkit-box-shadow: 0 23px 57px 0 rgba(0,0,0,0.1);
		}
		.pg-inicial .secao-sobre .carrossel-sobre::before, .pg-inicial .secao-sobre .carrossel-sobre::after{
			content: '';
			position: absolute;
			display: inline-block;
			width: 167px;
			height: 50px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
		.pg-inicial .secao-sobre .carrossel-sobre::before{
			background-image: url(../img/brilho1.png);
			top: -67px;
			right: 50px;
			height: 67px;
		}
		.pg-inicial .secao-sobre .carrossel-sobre::after{
			background-image: url(../img/brilho.png);
			bottom: -50px;
			left: 110px;
		}
			.pg-inicial .secao-sobre .carrossel-sobre figure{
				position: relative;
				z-index: 1;
				margin: 0;
			}
				.pg-inicial .secao-sobre .carrossel-sobre figure img{
					/*box-shadow: 0 23px 57px 0 rgba(0,0,0,0.1);*/
					/*-o-box-shadow: 0 23px 57px 0 rgba(0,0,0,0.1);*/
					/*-ms-box-shadow: 0 23px 57px 0 rgba(0,0,0,0.1);*/
					/*-moz-box-shadow: 0 23px 57px 0 rgba(0,0,0,0.1);*/
					/*-webkit-box-shadow: 0 23px 57px 0 rgba(0,0,0,0.1);*/
					border-radius: 8px;
					max-width: 600px;
					width: 100%;
				}
		.pg-inicial .secao-sobre article{
			padding: 45px 0 0 90px;
			position: relative;
			z-index: 1;
		}
			.pg-inicial .secao-sobre article .titulo{
				max-width: 290px;
				width: 100%;
				line-height: 58px;
			}
			.pg-inicial .secao-sobre article p{
				margin: 40px 0 75px;
				font-size: 14px;
				font-family: var(--open-sans);
				color: var(--cinza-texto);
				max-width: 400px;
				line-height: 19px;
			}
			.pg-inicial .secao-sobre article ul{
				margin: 0;
			}
				.pg-inicial .secao-sobre article ul li{
					display: inline-block;
					margin-right: 20px;
				}
					.pg-inicial .secao-sobre article ul li img{
						width: 100%;
						max-width: 110px;
					}
	.pg-inicial .secao-tratamentos-clinicos{
		background: var(--cinza-claro);
		background: -moz-linear-gradient(to right, var(--cinza-claro) 0, var(--cinza-claro) 64%, var(--cinza-claro) 56%, var(--roxo) 57%, var(--roxo) 100%);
		background: -webkit-gradient(left top,right top,color-stop(0, var(--cinza-claro)),color-stop(51%, var(--cinza-claro)),color-stop(56%, var(--cinza-claro)),color-stop(57%, var(--roxo)),color-stop(100%, var(--roxo)));
		background: -webkit-linear-gradient(to right, var(--cinza-claro) 0, var(--cinza-claro) 64%, var(--cinza-claro) 56%, var(--roxo) 57%, var(--roxo) 100%);
		background: -o-linear-gradient(to right, var(--cinza-claro) 0, var(--cinza-claro) 64%, var(--cinza-claro) 56%, var(--roxo) 57%, var(--roxo) 100%);
		background: -ms-linear-gradient(to right, var(--cinza-claro) 0, var(--cinza-claro) 64%, var(--cinza-claro) 56%, var(--roxo) 57%, var(--roxo) 100%);
		background: linear-gradient(to right, var(--cinza-claro) 0, var(--cinza-claro) 64%, var(--cinza-claro) 56%, var(--roxo) 57%, var(--roxo) 100%);
	}
		.pg-inicial .secao-tratamentos-clinicos .row{
			align-items: center;
		}
		.pg-inicial .secao-tratamentos-clinicos .col-cinza{
			background-color: var(--cinza-claro);
		}
		.pg-inicial .secao-tratamentos-clinicos .col-roxo{
			background-color: var(--roxo);
		}
		.pg-inicial .secao-tratamentos-clinicos article{
			max-width: 460px;
			padding-right: 10px;
		}
			.pg-inicial .secao-tratamentos-clinicos article .icone-tratamento{
				width: 100%;
				max-width: 92px;
				margin: 0px 0 50px;
			}
			.pg-inicial .secao-tratamentos-clinicos article .titulo{
				font-size: 40px;
			}
			.pg-inicial .secao-tratamentos-clinicos article p{
				color: var(--cinza-texto);
				font-size: 14px;
				line-height: 25px;
				margin: 30px 0 60px;
				font-family: var(--open-sans);
			}
			.pg-inicial .secao-tratamentos-clinicos article .button-agendar{

			}
		.pg-inicial .secao-tratamentos-clinicos ul{
			max-width: 370px;
			margin: 0 0 0 auto;
			padding: 100px 0;
		}
			.pg-inicial .secao-tratamentos-clinicos ul li{
				/*max-width: 350px;*/
				-webkit-transition: ease-in-out .1s;
				-moz-transition: ease-in-out .1s;
				-ms-transition: ease-in-out .1s;
				-o-transition: ease-in-out .1s;
				transition: ease-in-out .1s;
				padding: 28px 46px;
				border-radius: 8px;
				cursor: pointer;
			}
			.pg-inicial .secao-tratamentos-clinicos ul li:hover{
				box-shadow: 0 13px 25px 0 #352862;
				-o-box-shadow: 0 13px 25px 0 #352862;
				-ms-box-shadow: 0 13px 25px 0 #352862;
				-moz-box-shadow: 0 13px 25px 0 #352862;
				-webkit-box-shadow: 0 13px 25px 0 #352862;
			}
			.pg-inicial .secao-tratamentos-clinicos ul li.tratamento-active{
				box-shadow: 0 13px 25px 0 #352862;
				-o-box-shadow: 0 13px 25px 0 #352862;
				-ms-box-shadow: 0 13px 25px 0 #352862;
				-moz-box-shadow: 0 13px 25px 0 #352862;
				-webkit-box-shadow: 0 13px 25px 0 #352862;
			}
				.pg-inicial .secao-tratamentos-clinicos ul li img, .pg-inicial .secao-tratamentos-clinicos ul li p{
					display: inline-block;
					width: 100%;
					margin: 0;
					-webkit-transition: ease-in-out .1s;
					-moz-transition: ease-in-out .1s;
					-ms-transition: ease-in-out .1s;
					-o-transition: ease-in-out .1s;
					transition: ease-in-out .1s;
				}
				.pg-inicial .secao-tratamentos-clinicos ul li img{
					max-width: 40px;
					margin-right: 28px;
					opacity: .5;
				}
				.pg-inicial .secao-tratamentos-clinicos ul li.tratamento-active img, .pg-inicial .secao-tratamentos-clinicos ul li:hover img{
					opacity: 1;
				}
				.pg-inicial .secao-tratamentos-clinicos ul li p{
					color: rgba(255, 255, 255, 0.5);
					font-size: 13px;
					font-family: var(--sarala);
					font-weight: 600;
					max-width: fit-content;
				}
				.pg-inicial .secao-tratamentos-clinicos ul li.tratamento-active p, .pg-inicial .secao-tratamentos-clinicos ul li:hover p{
					color: #fff;
				}
	.pg-inicial .secao-tratamentos-esteticos{
		background-color: var(--cinza-claro);
	}
		.pg-inicial .secao-tratamentos-esteticos .carrossel-tratamento{

		}
			.pg-inicial .secao-tratamentos-esteticos .carrossel-tratamento figure{
				width: 100%;
				max-width: 95.3%;
				text-align: right;
				margin: 0;
			}
				.pg-inicial .secao-tratamentos-esteticos .carrossel-tratamento figure img{
					width: 100%;
					max-width: 100%;
					display: inline-block;
				}
		.pg-inicial .secao-tratamentos-esteticos article{
			max-width: 464px;
			padding: 60px 0 0 75px;
		}
			.pg-inicial .secao-tratamentos-esteticos article .titulo{
				margin: 0 0 50px;
			}
			.pg-inicial .secao-tratamentos-esteticos article p{
				margin: 0 0 16px;
				color: var(--cinza-texto);
				font-size: 15px;
				line-height: 20px;
			}
			.pg-inicial .secao-tratamentos-esteticos article ul{
				margin: 45px 0 20px;
				font-size: 0;
			}
				.pg-inicial .secao-tratamentos-esteticos article ul li{
					font-family: var(--sarala);
					font-size: 13px;
					font-weight: 600;
					margin: 0 0 38px;
					display: inline-block;
					width: 100%;
					max-width: 50%;
					position: relative;
					padding-left: 28px;
				}
				.pg-inicial .secao-tratamentos-esteticos article ul li::before{
					content: '';
					position: absolute;
					top: 50%;
					left: 0;
					width: 17px;
					height: 17px;
					display: inline-block;
					background-image: url('../img/check.svg');
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;
					-webkit-transform: translateY(-50%);
					-moz-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					-o-transform: translateY(-50%);
					transform: translateY(-50%);
				}
			.pg-inicial .secao-tratamentos-esteticos article .button-agendar{

			}
	.pg-inicial .secao-depoimentos{
		background-color: var(--cinza-claro);
		padding: 100px 0 65px;
	}
		.pg-inicial .secao-depoimentos .full-container{
			padding: 0;
		}
		.pg-inicial .secao-depoimentos article{
			font-size: 0;
			width: 100%;
			max-width: 1078px;
			margin: 0 auto;
		}
			.pg-inicial .secao-depoimentos article .titulo, .pg-inicial .secao-depoimentos article p{
				display: inline-block;
				width: 100%;
				max-width: 50%;
				vertical-align: top;
			}
			.pg-inicial .secao-depoimentos article .titulo{
				font-size: 30px;
				padding: 0 40px 0 0;
				max-width: 46%;
				line-height: 42px;
			}
			.pg-inicial .secao-depoimentos article p{
				margin: 0;
				font-size: 14px;
				max-width: 54%;
				font-family: var(--open-sans);
				color: var(--cinza-texto);
				padding: 0 5px 0 0;
				line-height: 26px;
			}
		.pg-inicial .secao-depoimentos .carrossel-depoimentos{
			margin: 60px auto 0;
		}
			.pg-inicial .secao-depoimentos .carrossel-depoimentos .owl-stage{
				display: flex;
				align-items: center;
			}
			.pg-inicial .secao-depoimentos .carrossel-depoimentos li{
				-webkit-box-shadow: 0 13px 39px 0 rgba(77,63,125,0.16);
				-moz-box-shadow: 0 13px 39px 0 rgba(77,63,125,0.16);
				-ms-box-shadow: 0 13px 39px 0 rgba(77,63,125,0.16);
				-o-box-shadow: 0 13px 39px 0 rgba(77,63,125,0.16);
				box-shadow: 0 13px 39px 0 rgba(77,63,125,0.16);
				border-radius: 5px;
				margin: 40px 0 50px;
				text-align: center;
				background-color: #fff;
				padding: 60px 56px;
			}
				.pg-inicial .secao-depoimentos .carrossel-depoimentos li .foto-depoimento{
					width: 100%;
					max-width: 130px;
					display: inline-block;
					margin: 0 0 25px;
				}
				.pg-inicial .secao-depoimentos .carrossel-depoimentos li .titulo{
					font-size: 20px;
				}
				.pg-inicial .secao-depoimentos .carrossel-depoimentos li .cargo{
					color: var(--verde);
					font-family: var(--open-sans);
					font-size: 14px;
				}
				.pg-inicial .secao-depoimentos .carrossel-depoimentos li p{
					color: var(--cinza-texto);
					font-size: 14px;
					font-family: var(--open-sans);
					margin: 35px 0;
					line-height: 24px;
					display: none;
				}
				.pg-inicial .secao-depoimentos .carrossel-depoimentos .owl-item.active.center li p{
					display: inline-block;
				}
				.pg-inicial .secao-depoimentos .carrossel-depoimentos li a{
					display: none;
				}
					.pg-inicial .secao-depoimentos .carrossel-depoimentos li a img{
						width: 100%;
						max-width: 25px;
						display: inline-block;
						filter: brightness(0.85);
					}
				.pg-inicial .secao-depoimentos .carrossel-depoimentos .owl-item.active.center li a{
					display: inline-block;
				}
			.pg-inicial .secao-depoimentos .carrossel-depoimentos .owl-dots{
				margin: 0 !important;
				position: absolute;
				bottom: 0;
				left: 50%;
				-webkit-transform: translateX(-50%);
				-moz-transform: translateX(-50%);
				-ms-transform: translateX(-50%);
				-o-transform: translateX(-50%);
				transform: translateX(-50%);
			}
				.pg-inicial .secao-depoimentos .carrossel-depoimentos .owl-dots .owl-dot{
					outline: none;
				}
					.pg-inicial .secao-depoimentos .carrossel-depoimentos .owl-dots .owl-dot span{
						background-color: transparent;
						border: 1px solid rgba(151, 151, 151, 0.5);
						width: 12px;
						height: 12px;
						margin: 0 5px;
					}
				.pg-inicial .secao-depoimentos .carrossel-depoimentos .owl-dots .owl-dot.active{

				}
					.pg-inicial .secao-depoimentos .carrossel-depoimentos .owl-dots .owl-dot.active span{
						background: var(--roxo);
						width: 48px;
						height: 10px;
						border-color: var(--roxo);
					}
	.pg-inicial .secao-localizacao{
		background-color: var(--cinza);
		padding: 90px 0 70px;
	}
		.pg-inicial .secao-localizacao .row{
			align-items: center;
		}
		.pg-inicial .secao-localizacao ul{
			font-size: 0;
			margin: 0;
		}
			.pg-inicial .secao-localizacao ul li{
				box-shadow: 0 23px 57px 0 rgba(0,0,0,0.1);
				border-radius: 8px;
				background-color: #fff;
				margin: 0 0 35px;
			}
				.pg-inicial .secao-localizacao ul li .info-localizacao, .pg-inicial .secao-localizacao ul li .mapa{
					display: inline-block;
					vertical-align: middle;
					width: 100%;
				}
				.pg-inicial .secao-localizacao ul li .info-localizacao{
					max-width: 424px;
					padding: 42px 54px;
				}
					.pg-inicial .secao-localizacao ul li .info-localizacao .titulo{
						font-size: 24px;
					}
					.pg-inicial .secao-localizacao ul li .info-localizacao p{
						font-size: 13px;
						margin: 0;
						color: var(--cinza-texto);
						font-family: var(--open-sans);
						margin: 10px 0 16px;
					}
					.pg-inicial .secao-localizacao ul li .info-localizacao .telefone{
						font-size: 12px;
						display: inline-block;
						color: var(--verde);
						font-family: panton-light;
						font-weight: 600;
						padding-left: 20px;
						position: relative;
					}
					.pg-inicial .secao-localizacao ul li .info-localizacao .telefone.tel{
						margin-right: 16px;
					}
					.pg-inicial .secao-localizacao ul li .info-localizacao .telefone.cel{

					}
					.pg-inicial .secao-localizacao ul li .info-localizacao .telefone::before{
						content: '';
						position: absolute;
						display: inline-block;
						width: 17px;
						height: 17px;
						top: 50%;
						left: 0;
						-webkit-transform: translateY(-50%);
						-moz-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
						-o-transform: translateY(-50%);
						transform: translateY(-50%);
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center;
						opacity: .5;
					}
					.pg-inicial .secao-localizacao ul li .info-localizacao .telefone.tel::before{
						background-image: url(../img/phone.svg);
					}
					.pg-inicial .secao-localizacao ul li .info-localizacao .telefone.cel::before{
						background-image: url(../img/message.svg);
					}
				.pg-inicial .secao-localizacao ul li .mapa{
					max-width: 166px;
				}
					.pg-inicial .secao-localizacao ul li .mapa iframe{
						width: 100%;
						height: 177px;
						border-radius: 0 8px 8px 0;
					}
		.pg-inicial .secao-localizacao article{
			width: 100%;
			max-width: 495px;
			margin: 0 0 0 auto;
			padding: 0 10px;
		}
			.pg-inicial .secao-localizacao article .icone-localizacao{
				max-width: 40px;
				width: 100%;
			}
			.pg-inicial .secao-localizacao article .titulo{
				margin: 30px 0 50px;
			}
			.pg-inicial .secao-localizacao article p{
				color: rgba(0, 42, 53, 0.5);
				font-family: var(--open-sans);
				font-size: 14px;
				line-height: 18px;
				max-width: 397px;
				margin: 0 0 18px;
			}
	.pg-inicial .secao-time{
		padding: 20px 0 0;
	}
		.pg-inicial .secao-time .large-container{
			font-size: 0;
		}
		.pg-inicial .secao-time .titulo-time, .pg-inicial .secao-time .carrossel-time{
			display: inline-block;
			width: 100%;
			vertical-align: top;
		}
		.pg-inicial .secao-time .titulo-time{
			max-width: 18%;
			padding-top: 222px;
		}
			.pg-inicial .secao-time .titulo-time span{
				color: var(--verde);
				font-family: var(--sarala);
				font-size: 17px;
				font-weight: 600;
			}
			.pg-inicial .secao-time .titulo-time .titulo{
				font-size: 35px;
			}
			.pg-inicial .secao-time .titulo-time .carrossel-nav{
				margin: 120px 0 0;
			}
				.pg-inicial .secao-time .titulo-time .carrossel-nav button{
					background-color: transparent;
					border: none;
					cursor: pointer;
				}
					.pg-inicial .secao-time .titulo-time .carrossel-nav button img{
						width: 100%;
						max-width: 20px;
					}
				.pg-inicial .secao-time .titulo-time .carrossel-nav .button-prev{
					margin-right: 15px;
				}
					.pg-inicial .secao-time .titulo-time .carrossel-nav .button-prev img{

					}
				.pg-inicial .secao-time .titulo-time .carrossel-nav .button-next{

				}
					.pg-inicial .secao-time .titulo-time .carrossel-nav .button-next img{

					}
		.pg-inicial .secao-time .carrossel-time{
			max-width: 82%;
			position: relative;
		}
		.pg-inicial .secao-time .carrossel-time::before{
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 99;
		}
			.pg-inicial .secao-time .carrossel-time .carousel{
				width: 100%;
				height: 636px;
			}
				.pg-inicial .secao-time .carrossel-time .carousel .carousel-item{
					width: 220px;
					height: 100%;
					top: 0;
					left: -205px;
					background-color: #fff;
					overflow: visible;
					display: flex;
					align-items: center;
					float: initial;
					margin-right: 0;
					-webkit-backface-visibility: unset;
					backface-visibility: unset;
					transition: unset;
					transition: unset;
					transition: unset;
				}
					.pg-inicial .secao-time .carrossel-time .carousel .carousel-item figure, .pg-inicial .secao-time .carrossel-time .carousel .carousel-item .sobre-time{
						display: inline-block;
						max-width: 40%;
						vertical-align: middle;
					}
					.pg-inicial .secao-time .carrossel-time .carousel .carousel-item figure{
						margin: 0;
						min-width: 310px;
						-webkit-box-shadow: 0 23px 57px 0 rgba(0,0,0,0.1);
						-moz-box-shadow: 0 23px 57px 0 rgba(0,0,0,0.1);
						-ms-box-shadow: 0 23px 57px 0 rgba(0,0,0,0.1);
						-o-box-shadow: 0 23px 57px 0 rgba(0,0,0,0.1);
						box-shadow: 0 23px 57px 0 rgba(0,0,0,0.1);
						position: relative;
					}
						.pg-inicial .secao-time .carrossel-time .carousel .carousel-item figure img{
							width: 100%;
						}
					.pg-inicial .secao-time .carrossel-time .carousel .carousel-item .sobre-time{
						min-width: 460px;
						background-color: #fff;
						padding: 150px 0 0 40px;
						height: 100%;
					}
						.pg-inicial .secao-time .carrossel-time .carousel .carousel-item .sobre-time .titulo{
							font-size: 24px;
							color: #000;
						}
							.pg-inicial .secao-time .carrossel-time .carousel .carousel-item .sobre-time .titulo span{
								display: block;
								font-size: 18px;
								color: var(--verde);
							}
						.pg-inicial .secao-time .carrossel-time .carousel .carousel-item .sobre-time ul{
							margin: 35px 0 0;
						}
							.pg-inicial .secao-time .carrossel-time .carousel .carousel-item .sobre-time ul li{
								position: relative;
								padding-left: 7px;
								color: rgba(0, 42, 53, 0.5);
								font-family: var(--open-sans);
								font-size: 14px;
								margin: 0 0 7px;
								max-width: 375px;
							}
							.pg-inicial .secao-time .carrossel-time .carousel .carousel-item .sobre-time ul li::before{
								content: '-';
								position: absolute;
								display: inline-block;
								width: 20px;
								height: 22px;
								font-size: 16px;
								top: -1px;
								left: 0;
							}
			/*.pg-inicial .secao-time .carrossel-time .item{

			}
				.pg-inicial .secao-time .carrossel-time .item figure, .pg-inicial .secao-time .carrossel-time .item .sobre-time{
					display: inline-block;
					width: 100%;
					vertical-align: middle;
				}
				.pg-inicial .secao-time .carrossel-time .item figure{
					max-width: 280px;
					margin: 0;
				}
					.pg-inicial .secao-time .carrossel-time .item figure .foto-time{

					}
				.pg-inicial .secao-time .carrossel-time .item .sobre-time{
					max-width: 500px;
					padding-left: 40px;
				}
					.pg-inicial .secao-time .carrossel-time .item .sobre-time .titulo{
						font-size: 24px;
					}
						.pg-inicial .secao-time .carrossel-time .item .sobre-time .titulo span{
							display: block;
							font-size: 18px;
							color: var(--verde);
						}
					.pg-inicial .secao-time .carrossel-time .item .sobre-time ul{
						margin: 35px 0 0;
					}
						.pg-inicial .secao-time .carrossel-time .item .sobre-time ul li{
							position: relative;
							padding-left: 7px;
							color: rgba(0, 42, 53, 0.5);
							font-family: var(--open-sans);
							font-size: 14px;
							margin: 0 0 7px;
						}
						.pg-inicial .secao-time .carrossel-time .item .sobre-time ul li::before{
							content: '-';
							position: absolute;
							display: inline-block;
							width: 20px;
							height: 22px;
							font-size: 16px;
							top: 50%;
							left: 0;
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
							-o-transform: translateY(-50%);
							transform: translateY(-50%);
						}*/
	.pg-inicial .agende-sua-consulta{
		margin: 50px 0 60px;
	}
		.pg-inicial .agende-sua-consulta .large-container{
			border-top: 1px solid #D8D8D8;
			padding: 70px 10px 0;
		}
		.pg-inicial .agende-sua-consulta article{

		}
			.pg-inicial .agende-sua-consulta article .titulo{
				font-size: 30px;
			}
			.pg-inicial .agende-sua-consulta article p{
				font-size: 12px;
				color: var(--cinza-texto);
				line-height: 28px;
				font-family: var(--open-sans);
				max-width: 540px;
				margin: 18px 0 26px;
			}
			.pg-inicial .agende-sua-consulta article .button-agendar{
				padding: 12px 28px;
				font-size: 13px;
			}
		.pg-inicial .agende-sua-consulta .planos{
			background-color: rgba(216, 216, 216, 0.1);
			border: 2px solid var(--cinza-claro);
			border-radius: 5px;
			padding: 50px 80px;
			max-width: 590px;
			margin: 0 0 0 auto;
		}
			.pg-inicial .agende-sua-consulta .planos .titulo{
				font-size: 15px;
				color: rgba(0, 0, 0, 0.6);
			}
			.pg-inicial .agende-sua-consulta .planos ul{
				font-size: 0;
				margin: 40px 0 0;
			}
				.pg-inicial .agende-sua-consulta .planos ul li{
					display: inline-block;
					width: 100%;
					max-width: 33.3%;
				}
					.pg-inicial .agende-sua-consulta .planos ul li img{
						width: 100%;
						max-width: 110px;
					}
/* INICIAL */


/* EXTRAS */
/* EXTRAS */


/* MEDIA QUERY */
@media(max-width: 1500px){
	.pg-inicial .secao-localizacao ul li .info-localizacao {
		max-width: 424px;
	}
}

@media(max-width: 1400px){
	.pg-inicial .secao-tratamentos-esteticos .carrossel-tratamento figure {
		max-width: 96%;
	}
	.pg-inicial .secao-depoimentos .carrossel-depoimentos li {
		padding: 45px 40px;
	}
}

@media(max-width: 1350px){
	.pg-inicial .secao-destaque .carrossel-destaque .owl-dots {
		right: 82px;
	}

}

@media(max-width: 1200px){
	header .navbar .navbar-collapse .navbar-nav .nav-item {
		padding: 0 22px;
	}
	.large-container {
		max-width: 990px;
	}
	.pg-inicial .secao-sobre::before {
		width: 787px;
		height: 640px;
	}
	.pg-inicial .secao-sobre {
		padding: 40px 0 110px;
	}
	.pg-inicial .secao-sobre article {
		padding: 25px 0 0 70px;
	}
	.pg-inicial .secao-sobre article .titulo {
		line-height: 47px;
	}
	.pg-inicial .secao-sobre article p {
		margin: 20px 0 35px;
		line-height: 19px;
	}
	.pg-inicial .secao-tratamentos-esteticos .carrossel-tratamento figure {
		max-width: 98.1%;
	}
	.pg-inicial .secao-depoimentos .carrossel-depoimentos li .foto-depoimento {
		max-width: 110px;
		margin: 0 0 16px;
	}
	.pg-inicial .secao-depoimentos .carrossel-depoimentos li {
		padding: 30px 28px;
	}
	.pg-inicial .secao-depoimentos .carrossel-depoimentos li p {
		margin: 20px 0;
	}
	.pg-inicial .secao-localizacao ul li .info-localizacao {
		max-width: 319px;
		padding: 20px 38px;
	}
	.pg-inicial .secao-localizacao article p {
		margin: 0 0 12px;
	}
	.pg-inicial .secao-localizacao article .titulo {
		margin: 15px 0 28px;
	}
	.pg-inicial .secao-localizacao article {
		padding: 0 20px;
	}
	.titulo {
		font-size: 35px;
	}
	.pg-inicial .secao-localizacao ul li .info-localizacao .titulo {
		font-size: 20px;
	}
	.pg-inicial .agende-sua-consulta article {
		padding-right: 10px;
	}
	.pg-inicial .secao-time .carrossel-time .carousel .carousel-item .sobre-time ul li {
		max-width: 360px;
	}
	.pg-inicial .secao-time .carrossel-time {
		max-width: 78%;
	}
	.pg-inicial .secao-time .titulo-time {
		max-width: 22%;
	}
}

@media(max-width: 991px){
	header .navbar .navbar-toggler {
		display: inline-block;
		padding: 0;
		margin: 0;
		z-index: 8;
		position: fixed;
		top: 7px;
		right: 10px;
		background-color: var(--verde);
	}
	header .navbar .navbar-collapse {
		position: fixed;
		width: 100%;
		left: 0;
		top: 0;
		background-color: #a4cd39;
		z-index: 3;
		padding: 15px 0;
	}
	header .navbar .navbar-collapse .navbar-nav .nav-item {
		padding: 3px 22px;
	}
	header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
		font-size: 15px;
	}
	.pg-inicial .secao-destaque .carrossel-destaque .owl-dots{
		right: 0;
	}
	.pg-inicial .secao-destaque .carrossel-destaque .item article .titulo{
		max-width: 540px;
		line-height: 60px;
		font-size: 64px;
	}
	.pg-inicial .secao-destaque .carrossel-destaque .item article p {
		line-height: 20px;
		margin: 20px 0;
	}
	.pg-inicial .secao-sobre::before {
		width: 697px;
		height: 610px;
	}
	.pg-inicial .secao-destaque .carrossel-destaque .item {
		padding: 140px 0;
		height: 530px;
	}
	.pg-inicial .secao-sobre article {
		padding: 25px 0 0 50px;
	}
	.titulo {
		font-size: 32px;
	}
	.pg-inicial .secao-sobre article .titulo {
		line-height: 38px;
	}
	.pg-inicial .secao-sobre article p {
		line-height: 18px;
	}
	.pg-inicial .secao-sobre {
		padding: 40px 0 84px;
	}
	.pg-inicial .secao-sobre article ul li img {
		width: 100%;
		max-width: 90px;
	}
	.pg-inicial .secao-tratamentos-clinicos ul {
		padding: 40px 0;
	}
	.pg-inicial .secao-tratamentos-clinicos article {
		max-width: 500px;
	}
	.pg-inicial .secao-tratamentos-clinicos ul li {
		max-width: 310px;
		padding: 22px 35px;
	}
	.pg-inicial .secao-tratamentos-clinicos article .icone-tratamento {
		max-width: 72px;
		margin: 0px 0 30px;
	}
	.pg-inicial .secao-tratamentos-clinicos article .titulo {
		font-size: 30px;
	}
	.pg-inicial .secao-tratamentos-clinicos article p {
		margin: 16px 0 40px;
	}
	.pg-inicial .secao-tratamentos-esteticos article ul li {
		margin: 0 0 18px;
		padding-left: 20px;
	}
	.pg-inicial .secao-tratamentos-esteticos article ul li::before {
		width: 15px;
		height: 15px;
	}
	.pg-inicial .secao-tratamentos-esteticos article {
		padding: 40px 0 0 44px;
	}
	.pg-inicial .secao-tratamentos-esteticos .carrossel-tratamento figure {
		max-width: 99.9%;
	}
	.pg-inicial .secao-tratamentos-esteticos article ul li {
		margin: 0 0 15px;
		padding-left: 17px;
		font-size: 12px;
	}
	.pg-inicial .secao-tratamentos-esteticos article p {
		margin: 0 0 10px;
		font-size: 14px;
	}
	.pg-inicial .secao-tratamentos-esteticos article .titulo {
		margin: 0 0 18px;
	}
	.pg-inicial .secao-tratamentos-esteticos article ul {
		margin: 22px 0 8px;
	}
	.button-agendar {
		padding: 12px 26px;
		font-size: 12px;
	}
	.pg-inicial .secao-depoimentos .carrossel-depoimentos li p {
		font-size: 13px;
		line-height: 16px;
	}
	.pg-inicial .secao-depoimentos .carrossel-depoimentos li {
		padding: 20px 16px;
	}
	.pg-inicial .secao-depoimentos .carrossel-depoimentos li .cargo {
		font-size: 13px;
	}
	.pg-inicial .secao-depoimentos .carrossel-depoimentos li .titulo {
		font-size: 18px;
	}
	.pg-inicial .secao-depoimentos .carrossel-depoimentos li .foto-depoimento {
		max-width: 90px;
		margin: 0 0 12px;
	}
	.pg-inicial .secao-localizacao ul li .info-localizacao {
		max-width: 65.6%;
		padding: 20px 26px;
	}
	.pg-inicial .secao-localizacao article .icone-localizacao {
		max-width: 32px;
	}
	.pg-inicial .secao-localizacao ul li .mapa {
		max-width: 34.4%;
	}
	.pg-inicial .secao-time .carrossel-time .carousel .carousel-item .sobre-time ul li {
		margin: 0 0 5px;
	}
	.pg-inicial .secao-time .carrossel-time .carousel .carousel-item .sobre-time {
		max-width: 57%;
		padding-left: 16px;
	}
	.pg-inicial .secao-time .carrossel-time .carousel .carousel-item figure {
		max-width: 33%;
	}
	.pg-inicial .secao-time .carrossel-time .carousel .carousel-item .sobre-time ul {
		margin: 15px 0 0;
	}
	.pg-inicial .secao-time .titulo-time span {
		font-size: 15px;
	}
	.pg-inicial .secao-time .titulo-time .titulo {
		font-size: 28px;
	}
}

@media(max-width: 850px){
	.pg-inicial .secao-depoimentos .carrossel-depoimentos li {
		padding: 30px 28px;
	}
	.pg-inicial .agende-sua-consulta .planos {
		padding: 40px 50px;
	}
	footer .menu-footer nav a {
		margin: 0 0 8px;
	}
	footer .menu-footer ul li {
		margin: 0 0 12px;
	}
	footer .logo-footer {
		margin: 0 0 40px;
	}
	footer .menu-footer .titulo {
		margin: 0 0 22px;
	}
	footer .menu-footer.r-social {
		padding-left: 8px;
	}
	footer .menu-footer.local, footer .menu-footer.t-clinico{
		padding-left: 0;
	}
	footer .menu-footer.t-estetico {
		padding-left: 20px;
	}
}

@media(max-width: 768px){
	header .redes-sociais li {
		margin: 0 8px;
	}
	header .redes-sociais {
		text-align: center;
		margin: 8px 0 0;
	}
	header {
		padding: 10px 0 0;
		text-align: center;
	}
	.pg-inicial .secao-destaque .carrossel-destaque .item article .titulo {
		max-width: 380px;
		line-height: 42px;
		font-size: 45px;
	}
	.pg-inicial .secao-destaque .carrossel-destaque .item article p {
		font-size: 14px;
		line-height: 20px;
		margin: 15px 0;
	}
	.pg-inicial .secao-sobre::before, .pg-inicial .secao-sobre .carrossel-sobre::before, .pg-inicial .secao-sobre .carrossel-sobre::after{
		display: none;
	}
	.pg-inicial .secao-destaque .carrossel-destaque .item {
		padding: 98px 0;
		height: 391px;
	}
	.col-mobile{
		display: block;
	}
	.col-desktop{
		display: none;
	}
	.pg-inicial .secao-sobre .carrossel-sobre{
		width: 100%;
		max-width: 600px;
		margin: 30px auto 0;
	}
	.pg-inicial .secao-sobre article {
		padding: 0;
		max-width: 600px;
		margin: 0 auto;
	}
	.pg-inicial .secao-sobre {
		padding: 40px 0;
	}
	.pg-inicial .secao-tratamentos-clinicos {
		background: var(--cinza-claro);
		background: -moz-linear-gradient(to top, var(--cinza-claro) 0, var(--cinza-claro) 35.8%, var(--cinza-claro) 25%, var(--roxo) 15%, var(--roxo) 100%);
		background: -webkit-gradient(left top,right top,color-stop(0, var(--cinza-claro)),color-stop(51%, var(--cinza-claro)),color-stop(56%, var(--cinza-claro)),color-stop(57%, var(--roxo)),color-stop(100%, var(--roxo)));
		background: -webkit-linear-gradient(to top, var(--cinza-claro) 0, var(--cinza-claro) 35.8%, var(--cinza-claro) 25%, var(--roxo) 15%, var(--roxo) 100%);
		background: -o-linear-gradient(to top, var(--cinza-claro) 0, var(--cinza-claro) 35.8%, var(--cinza-claro) 25%, var(--roxo) 15%, var(--roxo) 100%);
		background: -ms-linear-gradient(to top, var(--cinza-claro) 0, var(--cinza-claro) 35.8%, var(--cinza-claro) 25%, var(--roxo) 15%, var(--roxo) 100%);
		background: linear-gradient(to top, var(--cinza-claro) 0, var(--cinza-claro) 35.8%, var(--cinza-claro) 25%, var(--roxo) 15%, var(--roxo) 100%);
	}
	.pg-inicial .secao-tratamentos-clinicos ul {
		margin: 0 auto;
	}
	.pg-inicial .secao-tratamentos-clinicos article {
		max-width: 100%;
		padding: 36px 0;
	}
	.pg-inicial .secao-tratamentos-clinicos .col-cinza {
		padding: 0 10px;
	}
	.pg-inicial .secao-tratamentos-clinicos .col-roxo {
		padding: 0 10px;
	}
	.pg-inicial .secao-tratamentos-clinicos .mid-container{
		padding: 0;
	}
	.pg-inicial .secao-tratamentos-esteticos article {
		padding: 40px 0 0 0;
		max-width: 100%;
	}
	.pg-inicial .secao-tratamentos-esteticos .carrossel-tratamento {
		max-width: 400px;
		margin: 0 auto;
	}
	.pg-inicial .secao-depoimentos .carrossel-depoimentos {
		margin: 20px auto 0;
	}
	.pg-inicial .secao-depoimentos {
		padding: 40px 0 65px;
	}
	.pg-inicial .secao-depoimentos article .titulo {
		padding: 0 6px 0 0;
		line-height: 34px;
	}
	.pg-inicial .secao-depoimentos article p {
		max-width: 54%;
		padding: 0 0px 0 10px;
		line-height: 22px;
	}
	.pg-inicial .secao-localizacao article .titulo {
		margin: 13px 0 16px;
	}
	.pg-inicial .secao-localizacao article p {
		margin: 0 0 12px;
		max-width: 100%;
	}
	.pg-inicial .secao-localizacao article {
		padding: 0;
		max-width: 100%;
	}
	.pg-inicial .secao-localizacao ul li {
		margin: 0 0 18px;
	}
	.pg-inicial .secao-localizacao {
		padding: 30px 0 40px;
	}
	.pg-inicial .secao-localizacao ul {
		margin: 28px 0 0;
	}
	.pg-inicial .agende-sua-consulta article {
		padding: 0;
		max-width: 590px;
		margin: 0 auto 20px;
	}
	.pg-inicial .agende-sua-consulta article p {
		margin: 14px 0;
	}
	.pg-inicial .agende-sua-consulta .planos {
		margin: 0 auto;
	}
	.pg-inicial .agende-sua-consulta .large-container {
		padding: 40px 10px 0;
	}
	footer .menu-footer.r-social, footer .menu-footer.local, footer .menu-footer.t-clinico, footer .menu-footer.t-estetico{
		padding: 0 !important;
	}
	footer {
		text-align: center;
	}
	footer .menu-footer nav a {
		margin: 0 auto 8px;
	}
	footer .menu-footer ul li a {
		margin: 0 auto;
	}
	footer .menu-footer {
		margin: 0 0 28px;
	}
	footer .menu-footer .titulo {
		margin: 0 0 14px;
	}
	footer .copyright {
		padding: 12px 0;
	}
	footer .copyright .text-right p {
		text-align: center;
	}
	.pg-inicial .secao-time {
		padding: 38px 0 0;
	}
	.pg-inicial .secao-time .carrossel-time {
		margin: 18px 0 0;
	}
	.pg-inicial .agende-sua-consulta {
		margin: 45px 0;
	}
	.pg-inicial .secao-time .carrossel-time .carousel {
		height: 370px;
	}
	.pg-inicial .secao-time .titulo-time .carrossel-nav {
		margin: 20px 0 0;
	}
	.pg-inicial .secao-time .titulo-time, .pg-inicial .secao-time .carrossel-time {
		max-width: 100% !important;
	}
	.pg-inicial .secao-time .carrossel-time .carousel .carousel-item .sobre-time {
		padding: 60px 0 0 40px;
	}
	.pg-inicial .secao-time .carrossel-time .carousel .carousel-item figure {
		min-width: 240px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-ms-box-shadow: none;
		-o-box-shadow: none;
		box-shadow: none;
	}
	.pg-inicial .secao-time .carrossel-time .carousel .carousel-item .sobre-time{
		padding: 25px 0 0 14px;
	}
	.pg-inicial .secao-time .titulo-time {
		padding-top: 0;
	}
}

@media(max-width: 650px){
	.pg-inicial .secao-time .carrossel-time .carousel .carousel-item {
		left: -180px;
	}
	.pg-inicial .secao-time .carrossel-time .carousel .carousel-item .sobre-time ul li {
		margin: 0 0 2px;
		font-size: 13px;
	}
	.pg-inicial .secao-time .carrossel-time .carousel .carousel-item figure {
		min-width: 200px;
	}
	.pg-inicial .secao-time .carrossel-time .carousel .carousel-item .sobre-time {
		padding: 45px 0 0 14px;
	}
	.pg-inicial .secao-time .carrossel-time .carousel .carousel-item .sobre-time .titulo {
		font-size: 20px;
	}
	.pg-inicial .secao-time .carrossel-time .carousel .carousel-item .sobre-time .titulo span {
		font-size: 16px;
	}
}

@media(max-width: 600px){
	.pg-inicial .secao-depoimentos article .titulo {
		margin: 0 0 20px;
	}
	.pg-inicial .secao-depoimentos article .titulo, .pg-inicial .secao-depoimentos article p {
		max-width: 100% !important;
		padding: 0 !important;
	}
}

@media(max-width: 500px){
	.button-agendar {
		padding: 12px 26px;
		font-size: 11px;
	}
	.pg-inicial .secao-destaque .carrossel-destaque .item article p {
		font-size: 13px;
		margin: 6px 0 15px;
	}
	.pg-inicial .secao-destaque .carrossel-destaque .item article .titulo {
		max-width: 380px;
		line-height: 42px;
		font-size: 30px;
	}
	.pg-inicial .secao-destaque .carrossel-destaque .item {
		padding: 55px 0;
		height: 252px;
	}
	header {
		position: initial;
		background-color: #000;
		-webkit-transform: initial;
		-moz-transform: initial;
		-ms-transform: initial;
		-o-transform: initial;
		transform: initial;
	}
	.titulo {
		font-size: 28px;
	}
	.pg-inicial .secao-tratamentos-esteticos article {
		padding: 20px 0 0 0;
	}
	.pg-inicial .agende-sua-consulta article p {
		line-height: 18px;
	}
	.pg-inicial .secao-time .carrossel-time .carousel .carousel-item .sobre-time {
		min-width: 214px;
	}
	.pg-inicial .secao-time .carrossel-time .carousel .carousel-item {
		left: -72px;
	}
	.pg-inicial .secao-time .carrossel-time .carousel .carousel-item figure {
		min-width: 140px;
	}
	.pg-inicial .secao-time .carrossel-time .carousel {
		height: 430px;
	}
}

@media(max-width: 400px){
	.pg-inicial .secao-localizacao ul li .info-localizacao p {
		font-size: 12px;
		margin: 6px 0 10px;
	}
	.pg-inicial .secao-localizacao ul li .info-localizacao .telefone.tel {
		margin-right: 5px;
	}
	.pg-inicial .secao-localizacao ul li .info-localizacao .titulo {
		font-size: 17px;
	}
	.pg-inicial .secao-localizacao ul li .info-localizacao {
		padding: 15px 26px;
	}
	.pg-inicial .secao-localizacao ul li .mapa iframe {
		height: 162px;
	}
	.pg-inicial .agende-sua-consulta .planos .titulo {
		font-size: 14px;
	}
	.pg-inicial .agende-sua-consulta .planos ul {
		margin: 28px 0 0;
	}
	.pg-inicial .agende-sua-consulta .planos {
		padding: 40px 30px;
	}
}

@media(max-width: 445px){
	.pg-inicial .secao-localizacao ul li .info-localizacao .telefone.tel {
		margin-right: 5px;
	}
	.pg-inicial .secao-time .carrossel-time .carousel .carousel-item .sobre-timetime {
		max-width: 100%;
		text-align: left;
		padding: 0;
	}
}

@media(max-width: 425px){
	.pg-inicial .secao-tratamentos-esteticos article ul li {
		padding-left: 0;
	}
	.pg-inicial .secao-tratamentos-esteticos article ul li::before{
		display: none;
	}
	.pg-inicial .secao-depoimentos .carrossel-depoimentos {
		padding: 0 10px;
	}
}

@media(max-width: 400px){
	.pg-inicial .secao-destaque .carrossel-destaque .item{
		height: unset;
	}
	.pg-inicial .secao-sobre article ul li {
		margin-right: 10px;
	}
}

@media(max-width: 350px){
	.pg-inicial .secao-localizacao ul li .info-localizacao {
		padding: 20px 26px;
	}
	.pg-inicial .secao-localizacao ul li .mapa iframe {
		height: 92px;
	}
	.pg-inicial .secao-localizacao ul li .info-localizacao, .pg-inicial .secao-localizacao ul li .mapa {
		max-width: 100% !important;
	}
	.pg-inicial .secao-time .carrossel-time .carousel {
		height: 440px;
	}
	.pg-inicial .secao-time .carrossel-time .carousel .carousel-item .sobre-time {
		min-width: 186px;
	}
	.pg-inicial .secao-time .carrossel-time .carousel .carousel-item figure {
		min-width: 126px;
	}
	.pg-inicial .secao-time .carrossel-time .carousel .carousel-item {
		left: -45px;
		/*padding: 32px 0;*/
	}
	.pg-inicial .secao-time .carrossel-time .carousel .carousel-item .sobre-time {
		padding: 40px 0 0 8px;
	}
}
/* MEDIA QUERY */