/*
Theme Name: Stardente
Theme URI: http://underscores.me/
Author: Gran
Author URI: https://handgran.com/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: stardente
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Stardente is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/

--------------------------------------------
ESTRUTURAÇÃO BASE
--------------------------------------------
**** DECLARAÇÃO DE VARIÁVEIS
**** ESTILOS GERAIS
**** BODY
**** TOPO
**** RODAPÉ
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Open Sans', sans-serif;
font-family: 'Sarala', sans-serif;

*/

/* IMPORT DE CSS */
	@import url("css/blog.css");
/* IMPORT DE CSS */

/* VARIÁVEIS */
:root{
  --open-sans: 'Open Sans', sans-serif;
  --sarala: 'Sarala', sans-serif;
  --verde: #a4cd39;
  --roxo: #4d3f7d;
  --cinza: #ebebeb;
  --cinza-claro: #f7f7f7;
  --azul-texto: #002a35;
  --cinza-texto: rgba(0, 0, 0, 0.5);
  --branco-texto: rgba(255, 255, 255, 0.7);
}
/* VARIÁVEIS */

/* IMPORTAÇÃO DE FONTES*/
@font-face {
	font-family: panton-black;
	src: url('fonts/panton/Panton-BlackCaps.otf');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: panton-black-italic;
	src: url('fonts/panton/Panton-BlackitalicCaps.otf');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: panton-light;
	src: url('fonts/panton/Panton-LightCaps.otf');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: panton-light-italic;
	src: url('fonts/panton/Panton-LightitalicCaps.otf');
	font-style: normal;
	font-weight: normal;
}

/* GERAL */
*{
	margin: 0;
	padding: 0;
}

nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i{
	height: initial;
	line-height: initial;
}
nav {
	color: initial;
	background-color: initial;
	width: initial;
	height: initial;
	line-height: initial;
}
header nav ul a:hover, footer nav ul a:hover{
	background: transparent;
}

button:focus{
	background: transparent;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea{
	background-color: transparent;
	border: none;
	border-radius: 0;
	outline: none;
	height: unset;
	width: unset;
	font-size: unset;
	margin: 0;
	padding: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: unset;
	box-sizing: unset;
	-webkit-transition: unset;
	transition: unset;
	transition: unset;
	transition: unset;
	line-height: initial;
}
select {
	background-color: transparent;
	width: 100%;
	padding: 0;
	border: none;
	border-radius: 0;
	height: unset;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
	border-bottom: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.col-md-6, .col-md-7, .col-md-5, .col-md-3, .col-md-2, .col-md-4, .col-md-1, .col-md-9{
	padding: 0;
}

.col-mobile{
	display: none;
}

.row{
	margin: 0;
}

.hidden{
	display: none;
}

.full-container, .large-container, .mid-container{
	margin: 0 auto;
	width: 100%;
	padding: 0 10px;
}

.full-container{
	max-width: 1582px;
}

.large-container{
	max-width: 1200px;
}

.mid-container{
	max-width: 1030px;
}

.titulo{
	margin: 0;
	font-family: var(--sarala);
	font-weight: 600;
	font-size: 44px;
}

.primario{
	font-size: 90px;
}

.secundario{}

.terciario{}

.button-agendar{
	color: #fff;
	background-color: var(--verde);
	padding: 15px 40px;
	border-radius: 5px;
	text-transform: uppercase;
	font-family: var(--sarala);
	font-size: 13.4px;
	font-weight: 600;
	display: inline-block;
	cursor: pointer;
}
.button-agendar:hover{
	color: #fff;
}

li{
	list-style-type: none;
	list-style-position: inside;
}

a:hover{
	color: inherit;
	text-decoration: none;
}

.info-localizacao .titulo{
	font-size: 24px;
}
.info-localizacao p{
	font-size: 13px;
	margin: 0;
	color: var(--cinza-texto);
	font-family: var(--open-sans);
	margin: 10px 0 16px;
}
.info-localizacao .telefone{
	font-size: 12px;
	display: inline-block;
	color: var(--verde);
	font-family: panton-light;
	font-weight: 600;
	padding-left: 20px;
	position: relative;
}
.info-localizacao .telefone.tel{
	margin-right: 16px;
}
.info-localizacao .telefone.cel{

}
.info-localizacao .telefone::before{
	content: '';
	position: absolute;
	display: inline-block;
	width: 17px;
	height: 17px;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	opacity: .5;
}
.info-localizacao .telefone.tel::before{
	background-image: url(img/phone.svg);
}
.info-localizacao .telefone.cel::before{
	background-image: url(img/message.svg);
}

.pop-up-agendamento {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: ease-in-out .2s;
	-moz-transition: ease-in-out .2s;
	-ms-transition: ease-in-out .2s;
	-o-transition: ease-in-out .2s;
	transition: ease-in-out .2s;
	z-index: 9;
	background: rgba(255, 255, 255, 0.52);
	align-items: center;
	justify-content: center;
	overflow-y: scroll;
	padding: 0 10px;
	display: flex;
}
.pop-up-agendamento.pop-up-agendamento-active{
	/*display: flex;*/
	width: 100%;
	height: 100%;
}
	.pop-up-agendamento .pop-up{
		background: #fff;
		-webkit-box-shadow: 0 13px 39px 0 rgba(48,48,48,0.16);
		-moz-box-shadow: 0 13px 39px 0 rgba(48,48,48,0.16);
		-ms-box-shadow: 0 13px 39px 0 rgba(48,48,48,0.16);
		-o-box-shadow: 0 13px 39px 0 rgba(48,48,48,0.16);
		box-shadow: 0 13px 39px 0 rgba(48,48,48,0.16);
		width: 100%;
		max-width: 1290px;
	}
		.pop-up-agendamento .pop-up .agende{
			padding: 50px;
		}
			.pop-up-agendamento .pop-up .agende .icone-agendamento{
				width: 100%;
				max-width: 48px;
			}
			.pop-up-agendamento .pop-up .agende .titulo{
				font-size: 38px;
				line-height: 48px;
				margin: 28px 0 0;
			}
			.pop-up-agendamento .pop-up .agende p{
				margin: 26px 0;
				color: rgba(0, 42, 53, 0.5);
			}
			.pop-up-agendamento .pop-up .agende span{
				font-size: 14px;
				font-family: var(--sarala);
				font-weight: 600;
			}
			.pop-up-agendamento .pop-up .agende ul{
				margin: 15px 0 0;
			}
				.pop-up-agendamento .pop-up .agende ul li{
					cursor: pointer;
					padding: 16px 14px;
					border-radius: 8px;
					position: relative;
				}
				.pop-up-agendamento .pop-up .agende ul li::before{
					content: '';
					position: absolute;
					width: 8px;
					height: 14px;
					right: 14px;
					top: 50%;
					background-image: url(img/Path@3x.png);
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;
					-webkit-transform: translateY(-50%);
					-moz-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					-o-transform: translateY(-50%);
					transform: translateY(-50%);
				}
					.pop-up-agendamento .pop-up .agende ul li h3{
						font-size: 14px;
						color: rgba(0, 0, 0, 0.5);
						margin: 0;
						line-height: initial;
					}
				.pop-up-agendamento .pop-up .agende ul li.clinica-active, .pop-up-agendamento .pop-up .agende ul li:hover{
					box-shadow: 0 13px 25px 0 #dcdcdc;
					background: var(--roxo);
				}
					.pop-up-agendamento .pop-up .agende ul li.clinica-active h3, .pop-up-agendamento .pop-up .agende ul li:hover h3{
						color: #fff;
					}
		.pop-up-agendamento .pop-up .area-formulario{
			padding: 60px 50px;
			height: 100%;
			background: rgba(232, 232, 232, 0.1);
			-webkit-box-shadow: inset 2px 0 3px 0 rgba(144, 144, 144, 0.1);
			-moz-box-shadow: inset 2px 0 3px 0 rgba(144, 144, 144, 0.1);
			-ms-box-shadow: inset 2px 0 3px 0 rgba(144, 144, 144, 0.1);
			-o-box-shadow: inset 2px 0 3px 0 rgba(144, 144, 144, 0.1);
			box-shadow: inset 2px 0 3px 0 rgba(144, 144, 144, 0.1);
			display: none;
		}
		.pop-up-agendamento .pop-up .area-formulario.formulario-active{
			display: block;
		}
			.pop-up-agendamento .pop-up .area-formulario .info-localizacao{

			}
				.pop-up-agendamento .pop-up .area-formulario .info-localizacao .fechar-pop-up{
					display: inline-block;
					float: right;
					cursor: pointer;
				}
					.pop-up-agendamento .pop-up .area-formulario .info-localizacao .fechar-pop-up img{
						width: 100%;
						max-width: 20px;
					}
				.pop-up-agendamento .pop-up .area-formulario .info-localizacao .titulo{

				}
				.pop-up-agendamento .pop-up .area-formulario .info-localizacao p{
					margin: 5px 0;
				}
				.pop-up-agendamento .pop-up .area-formulario .info-localizacao .telefone{

				}
				.pop-up-agendamento .pop-up .area-formulario .info-localizacao .telefone.tel{

				}
				.pop-up-agendamento .pop-up .area-formulario .info-localizacao .telefone.cel{

				}
			.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento{
				font-size: 0;
			}
				.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form{
					font-size: 0;
					margin: 40px 0 0;
				}
					.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .agendamento-selects{
						margin: 14px 0 54px;
						padding: 32px 0 0;
						border-top: 1px solid #d8d8d8;
					}
						.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .agendamento-selects .wpcf7-form-control-wrap{
							border: 1px solid #dcdcdc;
							background-color: #f3f3f3;
							text-align: right;
							max-width: 91%;
							border-radius: 4px;
							display: block;
						}
						.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .agendamento-selects .wpcf7-form-control-wrap.horario-agendamento{
							margin: 0 0 0 auto;
						}
					.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .icone-input{
						margin: 0 0 20px;
						position: relative;
					}
						.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .icone-input::before{
							content: '';
							position: absolute;
							top: 50%;
							left: 15px;
							background-repeat: no-repeat;
							background-position: center;
							background-size: cover;
							width: 20px;
							height: 20px;
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
							-o-transform: translateY(-50%);
							transform: translateY(-50%);
							z-index: 1;
						}
					.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .icone-nome{

					}
					.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .icone-nome::before{
						background-image: url(img/nome.png);
						width: 16px;
						height: 17px;
					}
					.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .icone-email, .pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .icone-celular, .pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .icone-motivo, .pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .icone-horario{
						display: inline-block;
						width: 100%;
						max-width: 50%;
					}
					.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .icone-email input, .pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .icone-celular input, .pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .icone-motivo select, .pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .icone-horario select{
						max-width: 91%;
					}
					.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .icone-email{

					}
					.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .icone-email::before{
						background-image: url(img/email.png);
						width: 16px;
						height: 13px;
					}
					.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .icone-celular{
						text-align: right;
					}
					.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .icone-celular::before{
						background-image: url('img/phone (2)@3x.png');
						width: 17px;
						height: 17px;
						left: 38px;
					}
					.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .icone-motivo, .pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .icone-horario{

					}
					.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .icone-motivo{

					}
					.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .icone-motivo::before{
						background-image: url('img/clipboard (1)@3x.png');
						width: 16px;
						height: 19px;
					}
					.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .icone-horario{
						text-align: right;
					}
					.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .icone-horario::before{
						background-image: url('img/clock@3x.png');
						width: 17px;
						height: 17px;
						left: 38px;
					}
					.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form input, .pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form select{
						border: 1px solid #dcdcdc;
						background-color: #f3f3f3;
						border-radius: 3px;
						padding: 10px 45px;
						width: 100%;
						display: inline-block;
						color: rgba(0, 0, 0, 0.5);
						font-size: 14px;
						outline: none;
						height: 43px;
					}
					.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form input{
						max-width: 100%;
						box-sizing: inherit;
					}
						.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form input::placeholder{
							color: rgba(0, 0, 0, 0.5);
							display: none;
						}
						.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form input:focus::placeholder{
							display: none;
						}
					.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form select{
						background-color: transparent;
						border: none;
						display: inline-block;
						padding: 0 22px;
					}
				.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento .button-cancelar, .pop-up-agendamento .pop-up .area-formulario .formulario-agendamento .div-button-agendar{
					display: inline-block;
					width: 100%;
					max-width: 50%;
					vertical-align: middle;
				}
				.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .button-cancelar{

				}
					.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .button-cancelar .span-cancelar{
						background-color: #c9c9c9;
						color: #fff;
						padding: 10px 40px;
						display: inline-block;
						border-radius: 5px;
						font-size: 14px;
						cursor: pointer;
						-webkit-transition: ease-in-out .1s;
						-moz-transition: ease-in-out .1s;
						-ms-transition: ease-in-out .1s;
						-o-transition: ease-in-out .1s;
						transition: ease-in-out .1s;
					}
					.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .button-cancelar .span-cancelar:hover{
						background-color: var(--danger);
					}
				.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .div-button-agendar{
					text-align: right;
				}
					.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .button-agendar{
						border: none;
						outline: none;
						padding: 15px 45px;
						color: #fff;
						background-color: var(--verde);
						font-size: 13.4px;
						width: initial;
						height: initial;
					}
		.pop-up-agendamento .pop-up .mapa{
			margin: 0;
			display: none;
		}
		.pop-up-agendamento .pop-up .mapa.mapa-active{
			display: block;
		}
			.pop-up-agendamento .pop-up .mapa img{
				width: 100%;
			}
/* GERAL */


/* BODY */
body{

}
body.remover-scroll{
	overflow-y: hidden;
}
/* BODY */

/* HEADER */
header{
	position: absolute;
	display: block;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 100%;
	padding: 55px 0 0;
	z-index: 5;
}
	header .row{
		align-items: center;
	}
	header a{

	}
		header a img{
			width: 100%;
			max-width: 140px;
		}
	header .navbar{
		padding: 0;
		text-align: right;
		display: block;
	}
		header .navbar .navbar-toggler{
			display: none;
			padding: 0;
			margin: 0;
		}
			header .navbar .navbar-toggler .navbar-toggler-icon{
				text-align: center;
				display: block;
				padding: 0;
				width: 28px;
				height: 27px;
				line-height: 20px;
			}
				header .navbar .navbar-toggler .navbar-toggler-icon img{

				}
		header .navbar .navbar-collapse{

		}
			header .navbar .navbar-collapse .menu-menu-principal-container{
				width: 100%;
			}
			header .navbar .navbar-collapse .menu{
				text-align: center;
				margin: 0 auto;
				display: inline-block;
			}
				header .navbar .navbar-collapse .menu .nav-item{
					padding: 0 28px;
					display: inline-block;
					text-align: center;
				}
					header .navbar .navbar-collapse .menu .nav-item .nav-link{
						padding: 0;
						color: #fff;
						font-family: var(--sarala);
						font-size: 12px;
						font-weight: 600;
					}
				header .navbar .navbar-collapse .menu .nav-item.active{
					background: transparent;
				}
					header .navbar .navbar-collapse .menu .nav-item.active .nav-link{

					}
	header .redes-sociais{
		text-align: right;
		margin: 0;
	}
		header .redes-sociais li{
			display: inline-block;
			margin-left: 20px;
		}
			header .redes-sociais li a{

			}
				header .redes-sociais li a img{
					width: 100%;
					max-width: 16px;
				}
/* HEADER */

/*EXTRAS*/
.single-tratamento{

}
/* FOOTER */
footer{

}
	footer .logo-footer{
		display: inline-block;
		margin: 0 0 50px;
	}
		footer .logo-footer img{
			width: 100%;
			max-width: 140px;
		}
	footer .menu-footer{

	}
		footer .menu-footer .titulo{
			font-size: 13px;
			margin: 0 0 30px;
		}
		footer .menu-footer nav{

		}
			footer .menu-footer nav a{
				display: block;
				max-width: fit-content;
				color: var(--cinza-texto);
				font-size: 14px;
				margin: 0 0 15px;
			}
			footer .menu-footer nav .menu{

			}
				footer .menu-footer nav .menu li{
					display: block;
					margin: 0;
					width: 100%;
				}
					footer .menu-footer nav .menu li a{
						padding: 0;
					}
		footer .menu-footer nav.social-media{

		}
			footer .menu-footer nav.social-media a{

			}
				footer .menu-footer nav.social-media a img{
					width: 100%;
					max-width: 16px;
					filter: brightness(0.5);
				}
		footer .menu-footer ul{
			margin: 0;
		}
			footer .menu-footer ul li{
				margin: 0 0 40px;
			}
				footer .menu-footer ul li a, footer .menu-footer ul li span{
					color: var(--cinza-texto);
					font-size: 14px;
				}
				footer .menu-footer ul li a{
					display: block;
					max-width: fit-content;
				}
					footer .menu-footer ul li a p{
						margin: 0;
					}
				footer .menu-footer ul li span{

				}
		footer .menu-footer.t-clinico{
			padding-left: 35px;
		}
		footer .menu-footer.t-estetico{
			padding-left: 75px;
		}
		footer .menu-footer.local{
			padding-left: 28px;
		}
		footer .menu-footer.r-social{
			padding-left: 22px;
		}
	footer .copyright{
		margin: 0;
		border-top: 1px solid #d8d8d8;
		padding: 45px 0;
		margin-top: 45px;
	}
		footer .copyright p{
			font-size: 14px;
			color: #294c54;
			margin: 0;
		}
		footer .copyright .text-right p{
			color: var(--cinza-texto);
		}
			footer .copyright p img{
				width: 100%;
				max-width: 50px;
			}
/* FOOTER */


/* INICIAL */
.pg-inicial{

}
	.pg-inicial .secao-destaque{

	}
		.pg-inicial .secao-destaque .carrossel-destaque{

		}
			.pg-inicial .secao-destaque .carrossel-destaque .item{
				background-image: url(img/banner.jpg);
				padding: 221px 0;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				height: 782px;
			}
				.pg-inicial .secao-destaque .carrossel-destaque .item article{
					color: #fff;
				}
					.pg-inicial .secao-destaque .carrossel-destaque .item article .titulo{
						max-width: 710px;
						width: 100%;
						line-height: 85px;
					}
					.pg-inicial .secao-destaque .carrossel-destaque .item article p{
						color: var(--branco-texto);
						max-width: 500px;
						font-size: 15px;
						line-height: 26px;
						margin: 34px 0;
					}
					.pg-inicial .secao-destaque .carrossel-destaque .item article .button-agendar{

					}
			.pg-inicial .secao-destaque .carrossel-destaque .owl-dots{
				margin: 0;
				position: absolute;
				top: 50%;
				right: 183px;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);
			}
				.pg-inicial .secao-destaque .carrossel-destaque .owl-dots .owl-dot{
					display: block;
				}
					.pg-inicial .secao-destaque .carrossel-destaque .owl-dots .owl-dot span{
						border: 1px solid #fff;
						background-color: transparent;
						width: 8px;
						height: 8px;
						margin: 5px 10px;
					}
				.pg-inicial .secao-destaque .carrossel-destaque .owl-dots .owl-dot.active{

				}
					.pg-inicial .secao-destaque .carrossel-destaque .owl-dots .owl-dot.active span{
						background-color: #fff;
						height: 38px;
						border: none;
						width: 8px;
					}
	.pg-inicial .secao-sobre{
		background-color: var(--cinza-claro);
		position: relative;
		padding: 40px 0 135px;
	}
	.pg-inicial .secao-sobre::before{
		content: '';
		position: absolute;
		display: block;
		top: -65px;
		right: 0;
		width: 1097px;
		height: 780px;
		background-color: #fff;
		border-radius: 8px 0 0 8px;
		z-index: 1;
	}
		.pg-inicial .secao-sobre .carrossel-sobre{
			box-shadow: 0 23px 57px 0 rgba(0,0,0,0.1);
			-o-box-shadow: 0 23px 57px 0 rgba(0,0,0,0.1);
			-ms-box-shadow: 0 23px 57px 0 rgba(0,0,0,0.1);
			-moz-box-shadow: 0 23px 57px 0 rgba(0,0,0,0.1);
			-webkit-box-shadow: 0 23px 57px 0 rgba(0,0,0,0.1);
			border-radius: 8px;
		}
		.pg-inicial .secao-sobre .carrossel-sobre .owl-stage-outer{
			border-radius: 8px;
		}
		.pg-inicial .secao-sobre .carrossel-sobre::before, .pg-inicial .secao-sobre .carrossel-sobre::after{
			content: '';
			position: absolute;
			display: inline-block;
			width: 167px;
			height: 50px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
		.pg-inicial .secao-sobre .carrossel-sobre::before{
			background-image: url(img/brilho1.png);
			top: -67px;
			right: 50px;
			height: 67px;
		}
		.pg-inicial .secao-sobre .carrossel-sobre::after{
			background-image: url(img/brilho.png);
			bottom: -50px;
			left: 110px;
		}
			.pg-inicial .secao-sobre .carrossel-sobre figure{
				position: relative;
				z-index: 1;
				margin: 0;
				max-height: 513px;
				overflow: hidden;
			}
				.pg-inicial .secao-sobre .carrossel-sobre figure img{
					border-radius: 8px;
					max-width: 600px;
					width: 100%;
				}
		.pg-inicial .secao-sobre article{
			padding: 45px 0 0 90px;
			position: relative;
			z-index: 1;
		}
			.pg-inicial .secao-sobre article .titulo{
				max-width: 290px;
				width: 100%;
				line-height: 58px;
			}
			.pg-inicial .secao-sobre article p{
				margin: 40px 0 45px;
				font-size: 14px;
				font-family: var(--open-sans);
				color: var(--cinza-texto);
				max-width: 400px;
				line-height: 20px;
			}
			.pg-inicial .secao-sobre article ul{
				margin: 0;
			}
				.pg-inicial .secao-sobre article ul li{
					display: inline-block;
					margin-right: 20px;
				}
					.pg-inicial .secao-sobre article ul li img{
						width: 100%;
						max-width: 110px;
					}
	.pg-inicial .secao-tratamentos-clinicos{
		background: var(--cinza-claro);
		background: -moz-linear-gradient(to right, var(--cinza-claro) 0, var(--cinza-claro) 64%, var(--cinza-claro) 56%, var(--roxo) 57%, var(--roxo) 100%);
		background: -webkit-gradient(left top,right top,color-stop(0, var(--cinza-claro)),color-stop(51%, var(--cinza-claro)),color-stop(56%, var(--cinza-claro)),color-stop(57%, var(--roxo)),color-stop(100%, var(--roxo)));
		background: -webkit-linear-gradient(to right, var(--cinza-claro) 0, var(--cinza-claro) 64%, var(--cinza-claro) 56%, var(--roxo) 57%, var(--roxo) 100%);
		background: -o-linear-gradient(to right, var(--cinza-claro) 0, var(--cinza-claro) 64%, var(--cinza-claro) 56%, var(--roxo) 57%, var(--roxo) 100%);
		background: -ms-linear-gradient(to right, var(--cinza-claro) 0, var(--cinza-claro) 64%, var(--cinza-claro) 56%, var(--roxo) 57%, var(--roxo) 100%);
		background: linear-gradient(to right, var(--cinza-claro) 0, var(--cinza-claro) 64%, var(--cinza-claro) 56%, var(--roxo) 57%, var(--roxo) 100%);
	}
		.pg-inicial .secao-tratamentos-clinicos .row{
			align-items: center;
		}
		.pg-inicial .secao-tratamentos-clinicos .col-cinza{
			background-color: var(--cinza-claro);
		}
		.pg-inicial .secao-tratamentos-clinicos .col-roxo{
			background-color: var(--roxo);
		}
		.pg-inicial .secao-tratamentos-clinicos article{
			max-width: 460px;
			padding-right: 10px;
		}
			.pg-inicial .secao-tratamentos-clinicos article .icone-tratamento{
				width: 100%;
				max-width: 92px;
				margin: 0px 0 50px;
				max-height: 50px;
			}
			.pg-inicial .secao-tratamentos-clinicos article .titulo{
				font-size: 40px;
			}
			.pg-inicial .secao-tratamentos-clinicos article p{
				color: var(--cinza-texto);
				font-size: 14px;
				line-height: 25px;
				margin: 30px 0 60px;
				font-family: var(--open-sans);
			}
			.pg-inicial .secao-tratamentos-clinicos article .div-button-ler-mais, .pg-inicial .secao-tratamentos-clinicos article .div-button-agendar{
				width: 100%;
				max-width: 49.5%;
				display: inline-block;
				vertical-align: top;
			}
			.pg-inicial .secao-tratamentos-clinicos article .div-button-ler-mais{

			}
			.pg-inicial .secao-tratamentos-clinicos article .button-ler-mais{
				background-color: var(--roxo);
			}
			.pg-inicial .secao-tratamentos-clinicos article .div-button-agendar{
				text-align: right;
			}
			.pg-inicial .secao-tratamentos-clinicos article .button-agendar{
				display: inline-block;
				width: 100%;
				max-width: 212px;
				text-align: center;
				padding: 15px 0px;
			}
		.pg-inicial .secao-tratamentos-clinicos ul{
			max-width: 370px;
			margin: 0 0 0 auto;
			padding: 100px 0;
		}
			.pg-inicial .secao-tratamentos-clinicos ul li{
				/*max-width: 350px;*/
				-webkit-transition: ease-in-out .1s;
				-moz-transition: ease-in-out .1s;
				-ms-transition: ease-in-out .1s;
				-o-transition: ease-in-out .1s;
				transition: ease-in-out .1s;
				border-radius: 8px;
				cursor: pointer;
				padding: 28px 46px;
			}
			.pg-inicial .secao-tratamentos-clinicos ul li a{
				/* padding: 28px 46px; */
				display: block;
			}
			.pg-inicial .secao-tratamentos-clinicos ul li:hover{
				box-shadow: 0 13px 25px 0 #352862;
				-o-box-shadow: 0 13px 25px 0 #352862;
				-ms-box-shadow: 0 13px 25px 0 #352862;
				-moz-box-shadow: 0 13px 25px 0 #352862;
				-webkit-box-shadow: 0 13px 25px 0 #352862;
			}
			.pg-inicial .secao-tratamentos-clinicos ul li.tratamento-active{
				box-shadow: 0 13px 25px 0 #352862;
				-o-box-shadow: 0 13px 25px 0 #352862;
				-ms-box-shadow: 0 13px 25px 0 #352862;
				-moz-box-shadow: 0 13px 25px 0 #352862;
				-webkit-box-shadow: 0 13px 25px 0 #352862;
			}
				.pg-inicial .secao-tratamentos-clinicos ul li img, .pg-inicial .secao-tratamentos-clinicos ul li p{
					display: inline-block;
					width: 100%;
					margin: 0;
					-webkit-transition: ease-in-out .1s;
					-moz-transition: ease-in-out .1s;
					-ms-transition: ease-in-out .1s;
					-o-transition: ease-in-out .1s;
					transition: ease-in-out .1s;
				}
				.pg-inicial .secao-tratamentos-clinicos ul li img{
					max-width: 40px;
					margin-right: 28px;
					opacity: .5;
					max-height: 30px;
				}
				.pg-inicial .secao-tratamentos-clinicos ul li.tratamento-active img, .pg-inicial .secao-tratamentos-clinicos ul li:hover img{
					opacity: 1;
				}
				.pg-inicial .secao-tratamentos-clinicos ul li p{
					color: rgba(255, 255, 255, 0.5);
					font-size: 13px;
					font-family: var(--sarala);
					font-weight: 600;
					max-width: fit-content;
				}
				.pg-inicial .secao-tratamentos-clinicos ul li.tratamento-active p, .pg-inicial .secao-tratamentos-clinicos ul li:hover p{
					color: #fff;
				}
	.pg-inicial .secao-tratamentos-esteticos{
		background-color: var(--cinza-claro);
	}
		.pg-inicial .secao-tratamentos-esteticos .carrossel-tratamento{

		}
			.pg-inicial .secao-tratamentos-esteticos .carrossel-tratamento figure{
				width: 100%;
				max-width: 95.3%;
				text-align: right;
				margin: 0;
			}
				.pg-inicial .secao-tratamentos-esteticos .carrossel-tratamento figure img{
					width: 100%;
					max-width: 100%;
					display: inline-block;
				}
		.pg-inicial .secao-tratamentos-esteticos article{
			max-width: 464px;
			padding: 60px 0 0 75px;
		}
			.pg-inicial .secao-tratamentos-esteticos article .titulo{
				margin: 0 0 50px;
			}
			.pg-inicial .secao-tratamentos-esteticos article p{
				margin: 0 0 16px;
				color: var(--cinza-texto);
				font-size: 15px;
				line-height: 20px;
			}
			.pg-inicial .secao-tratamentos-esteticos article ul{
				margin: 45px 0 20px;
				font-size: 0;
			}
				.pg-inicial .secao-tratamentos-esteticos article ul li{
					font-family: var(--sarala);
					font-size: 13px;
					font-weight: 600;
					margin: 0 0 38px;
					display: inline-block;
					width: 100%;
					max-width: 50%;
					position: relative;
					padding-left: 28px;
					cursor: pointer;
				}
					.pg-inicial .secao-tratamentos-esteticos article ul li a{
						text-decoration: none;
						color: #000;
					}
				.pg-inicial .secao-tratamentos-esteticos article ul li::before{
					content: '';
					position: absolute;
					top: 50%;
					left: 0;
					width: 17px;
					height: 17px;
					display: inline-block;
					background-image: url('img/check.svg');
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;
					-webkit-transform: translateY(-50%);
					-moz-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					-o-transform: translateY(-50%);
					transform: translateY(-50%);
				}
			.pg-inicial .secao-tratamentos-esteticos article .button-agendar{

			}
	.pg-inicial .secao-depoimentos{
		background-color: var(--cinza-claro);
		padding: 100px 0 65px;
	}
		.pg-inicial .secao-depoimentos .full-container{
			padding: 0;
		}
		.pg-inicial .secao-depoimentos article{
			font-size: 0;
			width: 100%;
			max-width: 1078px;
			margin: 0 auto;
		}
			.pg-inicial .secao-depoimentos article .titulo, .pg-inicial .secao-depoimentos article p{
				display: inline-block;
				width: 100%;
				max-width: 50%;
				vertical-align: top;
			}
			.pg-inicial .secao-depoimentos article .titulo{
				font-size: 30px;
				padding: 0 40px 0 0;
				max-width: 46%;
				line-height: 42px;
			}
			.pg-inicial .secao-depoimentos article p{
				margin: 0;
				font-size: 14px;
				max-width: 54%;
				font-family: var(--open-sans);
				color: var(--cinza-texto);
				padding: 0 5px 0 0;
				line-height: 26px;
			}
		.pg-inicial .secao-depoimentos .carrossel-depoimentos{
			margin: 60px auto 0;
		}
			.pg-inicial .secao-depoimentos .carrossel-depoimentos .owl-stage{
				display: flex;
				align-items: center;
			}
				
			.pg-inicial .secao-depoimentos .carrossel-depoimentos li{
				-webkit-box-shadow: 0 13px 39px 0 rgba(77,63,125,0.16);
				-moz-box-shadow: 0 13px 39px 0 rgba(77,63,125,0.16);
				-ms-box-shadow: 0 13px 39px 0 rgba(77,63,125,0.16);
				-o-box-shadow: 0 13px 39px 0 rgba(77,63,125,0.16);
				box-shadow: 0 13px 39px 0 rgba(77,63,125,0.16);
				border-radius: 5px;
				margin: 40px 0 50px;
				text-align: center;
				background-color: #fff;
				padding: 60px 56px;
			}
				.pg-inicial .secao-depoimentos .carrossel-depoimentos li .foto-depoimento{
					width: 100%;
					max-width: 130px;
					display: inline-block;
					margin: 0 0 25px;
				}
				.pg-inicial .secao-depoimentos .carrossel-depoimentos li .titulo{
					font-size: 20px;
				}
				.pg-inicial .secao-depoimentos .carrossel-depoimentos li .cargo{
					color: var(--verde);
					font-family: var(--open-sans);
					font-size: 14px;
				}
				.pg-inicial .secao-depoimentos .carrossel-depoimentos li p{
					color: var(--cinza-texto);
					font-size: 14px;
					font-family: var(--open-sans);
					margin: 35px 0;
					line-height: 24px;
					display: none;
				}
				.pg-inicial .secao-depoimentos .carrossel-depoimentos .owl-item.active.center li p{
					display: inline-block;
				}
				.pg-inicial .secao-depoimentos .carrossel-depoimentos li a{
					display: none;
				}
					.pg-inicial .secao-depoimentos .carrossel-depoimentos li a img{
						width: 100%;
						max-width: 25px;
						display: inline-block;
						filter: brightness(0.85);
					}
				.pg-inicial .secao-depoimentos .carrossel-depoimentos .owl-item.active.center li a{
					display: inline-block;
				}
			.pg-inicial .secao-depoimentos .carrossel-depoimentos .owl-dots{
				margin: 0 !important;
				position: absolute;
				bottom: 0;
				left: 50%;
				-webkit-transform: translateX(-50%);
				-moz-transform: translateX(-50%);
				-ms-transform: translateX(-50%);
				-o-transform: translateX(-50%);
				transform: translateX(-50%);
			}
				.pg-inicial .secao-depoimentos .carrossel-depoimentos .owl-dots .owl-dot{
					outline: none;
				}
					.pg-inicial .secao-depoimentos .carrossel-depoimentos .owl-dots .owl-dot span{
						background-color: transparent;
						border: 1px solid rgba(151, 151, 151, 0.5);
						width: 12px;
						height: 12px;
						margin: 0 5px;
					}
				.pg-inicial .secao-depoimentos .carrossel-depoimentos .owl-dots .owl-dot.active{

				}
					.pg-inicial .secao-depoimentos .carrossel-depoimentos .owl-dots .owl-dot.active span{
						background: var(--roxo);
						width: 48px;
						height: 10px;
						border-color: var(--roxo);
					}
	.pg-inicial .secao-localizacao{
		background-color: var(--cinza);
		padding: 90px 0 70px;
	}
		.pg-inicial .secao-localizacao .row{
			align-items: center;
		}
		.pg-inicial .secao-localizacao ul{
			font-size: 0;
			margin: 0;
		}
			.pg-inicial .secao-localizacao ul li{
				box-shadow: 0 23px 57px 0 rgba(0,0,0,0.1);
				border-radius: 8px;
				background-color: #fff;
				margin: 0 0 35px;
			}
				.pg-inicial .secao-localizacao ul li .info-localizacao, .pg-inicial .secao-localizacao ul li .mapa{
					display: inline-block;
					vertical-align: middle;
					width: 100%;
				}
				.pg-inicial .secao-localizacao ul li .info-localizacao{
					max-width: 424px;
					padding: 42px 54px;
				}
					.pg-inicial .secao-localizacao ul li .info-localizacao .titulo{
						/*font-size: 24px;*/
					}
					.pg-inicial .secao-localizacao ul li .info-localizacao p{
						/*font-size: 13px;*/
						/*margin: 0;*/
						/*color: var(--cinza-texto);*/
						/*font-family: var(--open-sans);*/
						/*margin: 10px 0 16px;*/
					}
					.pg-inicial .secao-localizacao ul li .info-localizacao .telefone{
						/*font-size: 12px;*/
						/*display: inline-block;*/
						/*color: var(--verde);*/
						/*font-family: panton-light;*/
						/*font-weight: 600;*/
						/*padding-left: 20px;*/
						/*position: relative;*/
					}
					.pg-inicial .secao-localizacao ul li .info-localizacao .telefone.tel{
						/*margin-right: 16px;*/
					}
					.pg-inicial .secao-localizacao ul li .info-localizacao .telefone.cel{

					}
					.pg-inicial .secao-localizacao ul li .info-localizacao .telefone::before{
						/*content: '';*/
						/*position: absolute;*/
						/*display: inline-block;*/
						/*width: 17px;*/
						/*height: 17px;*/
						/*top: 50%;*/
						/*left: 0;*/
						/*-webkit-transform: translateY(-50%);*/
						/*-moz-transform: translateY(-50%);*/
						/*-ms-transform: translateY(-50%);*/
						/*-o-transform: translateY(-50%);*/
						/*transform: translateY(-50%);*/
						/*background-size: cover;*/
						/*background-repeat: no-repeat;*/
						/*background-position: center;*/
						/*opacity: .5;*/
					}
					.pg-inicial .secao-localizacao ul li .info-localizacao .telefone.tel::before{
						/*background-image: url(img/phone.svg);*/
					}
					.pg-inicial .secao-localizacao ul li .info-localizacao .telefone.cel::before{
						/*background-image: url(img/message.svg);*/
					}
				.pg-inicial .secao-localizacao ul li .mapa{
					max-width: 166px;
					margin: 0;
					text-align: right;
				}
					.pg-inicial .secao-localizacao ul li .mapa img{
						width: 100%;
						height: 177px;
						border-radius: 0 8px 8px 0;
						max-width: 160px;
						display: inline-block;
					}
		.pg-inicial .secao-localizacao article{
			width: 100%;
			max-width: 495px;
			margin: 0 0 0 auto;
			padding: 0 10px;
		}
			.pg-inicial .secao-localizacao article .icone-localizacao{
				max-width: 40px;
				width: 100%;
			}
			.pg-inicial .secao-localizacao article .titulo{
				margin: 30px 0 50px;
			}
			.pg-inicial .secao-localizacao article p{
				color: rgba(0, 42, 53, 0.5);
				font-family: var(--open-sans);
				font-size: 14px;
				line-height: 18px;
				max-width: 397px;
				margin: 0 0 18px;
			}
	.pg-inicial .secao-time{
		padding: 20px 0 0;
	}
		.pg-inicial .secao-time .large-container{
			font-size: 0;
		}
		.pg-inicial .secao-time .titulo-time, .pg-inicial .secao-time .carrossel-time{
			display: inline-block;
			width: 100%;
			vertical-align: top;
		}
		.pg-inicial .secao-time .titulo-time{
			max-width: 18%;
			padding-top: 222px;
		}
			.pg-inicial .secao-time .titulo-time span{
				color: var(--verde);
				font-family: var(--sarala);
				font-size: 17px;
				font-weight: 600;
			}
			.pg-inicial .secao-time .titulo-time .titulo{
				font-size: 35px;
			}
			.pg-inicial .secao-time .titulo-time .carrossel-nav{
				margin: 120px 0 0;
			}
				.pg-inicial .secao-time .titulo-time .carrossel-nav button{
					background-color: transparent;
					border: none;
					cursor: pointer;
				}
					.pg-inicial .secao-time .titulo-time .carrossel-nav button img{
						width: 100%;
						max-width: 20px;
					}
				.pg-inicial .secao-time .titulo-time .carrossel-nav .button-prev{
					margin-right: 15px;
				}
					.pg-inicial .secao-time .titulo-time .carrossel-nav .button-prev img{

					}
				.pg-inicial .secao-time .titulo-time .carrossel-nav .button-next{

				}
					.pg-inicial .secao-time .titulo-time .carrossel-nav .button-next img{

					}
		.pg-inicial .secao-time .carrossel-time{
			max-width: 82%;
			position: relative;
		}
		.pg-inicial .secao-time .carrossel-time::before{
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 99;
		}
			.pg-inicial .secao-time .carrossel-time .carousel{
				width: 100%;
				height: 636px;
			}
				.pg-inicial .secao-time .carrossel-time .carousel-item{
					width: 220px;
					height: 100%;
					top: 0;
					left: -205px;
					background-color: #fff;
					overflow: visible;
					display: flex;
					align-items: center;
					float: initial;
					margin-right: 0;
					-webkit-backface-visibility: unset;
					backface-visibility: unset;
					transition: unset;
					transition: unset;
					transition: unset;
				}
					.pg-inicial .secao-time .carrossel-time .carousel-item figure, .pg-inicial .secao-time .carrossel-time .carousel-item .sobre-time{
						display: inline-block;
						max-width: 40%;
						vertical-align: middle;
						width: 100%;
					}
					.pg-inicial .secao-time .carrossel-time .carousel-item figure{
						margin: 0;
						min-width: 310px;
						-webkit-box-shadow: 0 23px 57px 0 rgba(0,0,0,0.1);
						-moz-box-shadow: 0 23px 57px 0 rgba(0,0,0,0.1);
						-ms-box-shadow: 0 23px 57px 0 rgba(0,0,0,0.1);
						-o-box-shadow: 0 23px 57px 0 rgba(0,0,0,0.1);
						box-shadow: 0 23px 57px 0 rgba(0,0,0,0.1);
						position: relative;
					}
						.pg-inicial .secao-time .carrossel-time .carousel-item figure img{
							width: 100%;
						}
					.pg-inicial .secao-time .carrossel-time .carousel-item .sobre-time{
						min-width: 460px;
						background-color: #fff;
						padding: 150px 0 0 40px;
						height: 100%;
					}
						.pg-inicial .secao-time .carrossel-time .carousel-item .sobre-time .titulo{
							font-size: 24px;
							color: #000;
						}
							.pg-inicial .secao-time .carrossel-time .carousel-item .sobre-time .titulo span{
								display: block;
								font-size: 18px;
								color: var(--verde);
							}
						.pg-inicial .secao-time .carrossel-time .carousel-item .sobre-time ul{
							margin: 35px 0 0;
						}
							.pg-inicial .secao-time .carrossel-time .carousel-item .sobre-time ul li{
								position: relative;
								padding-left: 7px;
								color: rgba(0, 42, 53, 0.5);
								font-family: var(--open-sans);
								font-size: 14px;
								margin: 0 0 7px;
								max-width: 375px;
							}
							.pg-inicial .secao-time .carrossel-time .carousel-item .sobre-time ul li::before{
								content: '-';
								position: absolute;
								display: inline-block;
								width: 20px;
								height: 22px;
								font-size: 16px;
								top: -1px;
								left: 0;
							}
			.pg-inicial .secao-time .carrossel-time .owl-nav{
				position: absolute;
				bottom: -38px;
				left: 50%;
				margin: 0;
				-webkit-transform: translateX(-50%);
				-moz-transform: translateX(-50%);
				-ms-transform: translateX(-50%);
				-o-transform: translateX(-50%);
				transform: translateX(-50%);
			}
				.pg-inicial .secao-time .carrossel-time .owl-nav button{
					margin: 0 10px;
				}
					.pg-inicial .secao-time .carrossel-time .owl-nav button span{
						display: block;
						width: 30px;
						height: 30px;
						color: #000;
						background-repeat: no-repeat;
						background-size: cover;
						background-position: center;
					}
				.pg-inicial .secao-time .carrossel-time .owl-nav .owl-prev{

				}
					.pg-inicial .secao-time .carrossel-time .owl-nav .owl-prev span{
						background-image: url(img/left.svg);
					}
				.pg-inicial .secao-time .carrossel-time .owl-nav .owl-next{

				}
					.pg-inicial .secao-time .carrossel-time .owl-nav .owl-next span{
						background-image: url(img/right.svg);
					}
	.pg-inicial .agende-sua-consulta{
		margin: 50px 0 60px;
	}
		.pg-inicial .agende-sua-consulta .large-container{
			border-top: 1px solid #D8D8D8;
			padding: 70px 10px 0;
		}
		.pg-inicial .agende-sua-consulta article{

		}
			.pg-inicial .agende-sua-consulta article .titulo{
				font-size: 30px;
			}
			.pg-inicial .agende-sua-consulta article p{
				font-size: 12px;
				color: var(--cinza-texto);
				line-height: 28px;
				font-family: var(--open-sans);
				max-width: 540px;
				margin: 18px 0 26px;
			}
			.pg-inicial .agende-sua-consulta article .button-agendar{
				padding: 12px 28px;
				font-size: 13px;
			}
		.pg-inicial .agende-sua-consulta .planos{
			background-color: rgba(216, 216, 216, 0.1);
			border: 2px solid var(--cinza-claro);
			border-radius: 5px;
			padding: 50px 80px 10px;
			max-width: 590px;
			margin: 0 0 0 auto;
		}
			.pg-inicial .agende-sua-consulta .planos .titulo{
				font-size: 15px;
				color: rgba(0, 0, 0, 0.6);
			}
			.pg-inicial .agende-sua-consulta .planos ul{
				font-size: 0;
				margin: 10px 0 0;
			}
				.pg-inicial .agende-sua-consulta .planos ul li{
					display: inline-block;
					width: 100%;
					max-width: 33.3%;
				}
					.pg-inicial .agende-sua-consulta .planos ul li img{
						width: 100%;
						max-width: 110px;
					}
/* INICIAL */


/* EXTRAS */


div.wpcf7-mail-sent-ok, div.wpcf7-validation-errors, div.wpcf7-acceptance-missing, div.wpcf7-response-output {
    font-size: 14px;
}
/* EXTRAS */
.single-tratamento header{
	padding: 30px;
    background: #000;
}

/* MEDIA QUERY */
@media(max-width: 1500px){
	.pg-inicial .secao-localizacao ul li .info-localizacao {
		max-width: 424px;
	}
}

@media(max-width: 1400px){
	.pg-inicial .secao-tratamentos-esteticos .carrossel-tratamento figure {
		max-width: 96%;
	}
	.pg-inicial .secao-depoimentos .carrossel-depoimentos li {
		padding: 45px 40px;
	}
}

@media(max-width: 1350px){
	.pg-inicial .secao-destaque .carrossel-destaque .owl-dots {
		right: 82px;
	}

}

@media(max-width: 1200px){
	header .navbar .navbar-collapse .menu .nav-item {
		padding: 0 22px;
	}
	.large-container {
		max-width: 990px;
	}
	.pg-inicial .secao-sobre::before {
		width: 787px;
		height: 640px;
	}
	.pg-inicial .secao-sobre {
		padding: 40px 0 110px;
	}
	.pg-inicial .secao-sobre article {
		padding: 25px 0 0 70px;
	}
	.pg-inicial .secao-sobre article .titulo {
		line-height: 47px;
	}
	.pg-inicial .secao-sobre article p {
		margin: 20px 0 35px;
		line-height: 20px;
	}
	.pg-inicial .secao-tratamentos-esteticos .carrossel-tratamento figure {
		max-width: 98.1%;
	}
	.pg-inicial .secao-depoimentos .carrossel-depoimentos li .foto-depoimento {
		max-width: 110px;
		margin: 0 0 16px;
	}
	.pg-inicial .secao-depoimentos .carrossel-depoimentos li {
		padding: 30px 28px;
	}
	.pg-inicial .secao-depoimentos .carrossel-depoimentos li p {
		margin: 20px 0;
	}
	.pg-inicial .secao-localizacao ul li .info-localizacao {
		max-width: 319px;
		padding: 20px 38px;
	}
	.pg-inicial .secao-localizacao article p {
		margin: 0 0 12px;
	}
	.pg-inicial .secao-localizacao article .titulo {
		margin: 15px 0 28px;
	}
	.pg-inicial .secao-localizacao article {
		padding: 0 20px;
	}
	.titulo {
		font-size: 35px;
	}
	.pg-inicial .secao-localizacao ul li .info-localizacao .titulo {
		font-size: 20px;
	}
	.pg-inicial .agende-sua-consulta article {
		padding-right: 10px;
	}
	.pg-inicial .secao-time .carrossel-time .carousel-item .sobre-time ul li {
		max-width: 360px;
	}
	.pg-inicial .secao-time .carrossel-time {
		max-width: 78%;
	}
	.pg-inicial .secao-time .titulo-time {
		max-width: 22%;
	}
	.pg-inicial .secao-sobre .carrossel-sobre figure{
		max-height: 423px;
	}
	.pop-up-agendamento .pop-up .agende ul {
		margin: 8px 0 0;
	}
	.pop-up-agendamento .pop-up .agende p {
		margin: 15px 0;
	}
	.pop-up-agendamento .pop-up .agende .titulo {
		font-size: 34px;
		line-height: 35px;
	}
	.pop-up-agendamento .pop-up .area-formulario {
		padding: 50px 40px;
	}
	.pop-up-agendamento .pop-up .agende {
		padding: 40px;
	}
}

@media(max-width: 991px){
	header .navbar .navbar-toggler {
		display: inline-block;
		padding: 0;
		margin: 0;
		z-index: 8;
		position: fixed;
		top: 30px;
		right: 30px;
		background-color: var(--verde);
	}
	header .navbar .navbar-collapse {
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-color: var(--verde);
		z-index: 3;
		padding: 15px 0;
		text-align: center;
		-webkit-transition: ease-in-out .1s;
		-moz-transition: ease-in-out .1s;
		-ms-transition: ease-in-out .1s;
		-o-transition: ease-in-out .1s;
		transition: ease-in-out .1s;
	}
	header .navbar .navbar-collapse .menu .nav-item {
		padding: 7px 22px;
		display: block;
		width: 100%;
		text-align: left;
	}
	header .navbar .navbar-collapse .menu .nav-item .nav-link {
		font-size: 17px;
	}
	.pg-inicial .secao-destaque .carrossel-destaque .owl-dots{
		right: 0;
	}
	.pg-inicial .secao-destaque .carrossel-destaque .item article .titulo{
		max-width: 540px;
		line-height: 60px;
		font-size: 64px;
	}
	.pg-inicial .secao-destaque .carrossel-destaque .item article p {
		line-height: 20px;
		margin: 20px 0;
	}
	.pg-inicial .secao-sobre::before {
		width: 697px;
		height: 610px;
	}
	.pg-inicial .secao-destaque .carrossel-destaque .item {
		padding: 140px 0;
		height: 530px;
	}
	.pg-inicial .secao-sobre article {
		padding: 25px 0 0 50px;
	}
	.titulo {
		font-size: 32px;
	}
	.pg-inicial .secao-sobre article .titulo {
		line-height: 38px;
	}
	
	.pg-inicial .secao-sobre {
		padding: 40px 0 84px;
	}
	.pg-inicial .secao-sobre article ul li img {
		width: 100%;
		max-width: 90px;
	}
	.pg-inicial .secao-tratamentos-clinicos ul {
		padding: 40px 0;
	}
	.pg-inicial .secao-tratamentos-clinicos article {
		max-width: 500px;
	}
	.pg-inicial .secao-tratamentos-clinicos ul li {
		max-width: 310px;
		padding: 22px 35px;
	}
	.pg-inicial .secao-tratamentos-clinicos ul li a{
		/* padding: 22px 35px; */
	}
	.pg-inicial .secao-tratamentos-clinicos article .icone-tratamento {
		max-width: 72px;
		margin: 0px 0 30px;
	}
	.pg-inicial .secao-tratamentos-clinicos article .titulo {
		font-size: 30px;
	}
	.pg-inicial .secao-tratamentos-clinicos article p {
		margin: 16px 0 40px;
	}
	.pg-inicial .secao-tratamentos-esteticos article ul li {
		margin: 0 0 18px;
		padding-left: 20px;
	}
	.pg-inicial .secao-tratamentos-esteticos article ul li::before {
		width: 15px;
		height: 15px;
	}
	.pg-inicial .secao-tratamentos-esteticos article {
		padding: 40px 0 0 44px;
	}
	.pg-inicial .secao-tratamentos-esteticos .carrossel-tratamento figure {
		max-width: 99.9%;
	}
	.pg-inicial .secao-tratamentos-esteticos article ul li {
		margin: 0 0 15px;
		padding-left: 17px;
		font-size: 12px;
	}
	.pg-inicial .secao-tratamentos-esteticos article p {
		margin: 0 0 10px;
		font-size: 14px;
	}
	.pg-inicial .secao-tratamentos-esteticos article .titulo {
		margin: 0 0 18px;
	}
	.pg-inicial .secao-tratamentos-esteticos article ul {
		margin: 22px 0 8px;
	}
	.button-agendar {
		padding: 12px 26px;
		font-size: 12px;
	}
	.pg-inicial .secao-depoimentos .carrossel-depoimentos li p {
		font-size: 13px;
		line-height: 16px;
	}
	.pg-inicial .secao-depoimentos .carrossel-depoimentos li {
		padding: 20px 16px;
	}
	.pg-inicial .secao-depoimentos .carrossel-depoimentos li .cargo {
		font-size: 13px;
	}
	.pg-inicial .secao-depoimentos .carrossel-depoimentos li .titulo {
		font-size: 18px;
	}
	.pg-inicial .secao-depoimentos .carrossel-depoimentos li .foto-depoimento {
		max-width: 90px;
		margin: 0 0 12px;
	}
	.pg-inicial .secao-localizacao ul li .info-localizacao {
		max-width: 65.6%;
		padding: 20px 26px;
	}
	.pg-inicial .secao-localizacao article .icone-localizacao {
		max-width: 32px;
	}
	.pg-inicial .secao-localizacao ul li .mapa {
		max-width: 34.4%;
	}
	.pg-inicial .secao-time .carrossel-time .carousel-item .sobre-time ul li {
		margin: 0 0 5px;
	}
	.pg-inicial .secao-time .carrossel-time .carousel-item .sobre-time {
		max-width: 57%;
		padding-left: 16px;
	}
	.pg-inicial .secao-time .carrossel-time .carousel-item figure {
		max-width: 33%;
	}
	.pg-inicial .secao-time .carrossel-time .carousel-item .sobre-time ul {
		margin: 15px 0 0;
	}
	.pg-inicial .secao-time .titulo-time span {
		font-size: 15px;
	}
	.pg-inicial .secao-time .titulo-time .titulo {
		font-size: 28px;
	}
	.pg-inicial .secao-sobre .carrossel-sobre figure{
		max-height: 398px;
	}
	.pg-inicial .secao-localizacao ul li .mapa img{
		height: auto;
	}
	.pop-up-agendamento .pop-up .agende ul li {
		padding: 12px 10px;
	}
	.pop-up-agendamento .pop-up .agende {
		padding: 20px;
	}
	.pop-up-agendamento .pop-up .agende .icone-agendamento {
		width: 100%;
		max-width: 38px;
	}
	.pop-up-agendamento .pop-up .agende .titulo {
		font-size: 28px;
		line-height: 28px;
		margin: 20px 0 0;
	}
	.pop-up-agendamento .pop-up .agende p {
		margin: 12px 0;
		color: rgba(0, 42, 53, 0.5);
	}
	.pop-up-agendamento .pop-up .area-formulario {
		padding: 30px 20px;
	}
	.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .icone-input::before {
		left: 10px;
	}
	.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .icone-horario::before, .pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .icone-celular::before {
		left: 47px;
	}
	.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .agendamento-selects {
		margin: 14px 0 15px;
		padding: 22px 0 0;
	}
	.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .icone-input {
		margin: 0 0 10px;
	}
	.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form {
		margin: 20px 0 0;
	}
	.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .button-agendar {
		padding: 14px 25px;
		font-size: 11px;
	}
	div.wpcf7 .ajax-loader {
		position: absolute;
		bottom: 0;
		left: 0;
	}
	.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .div-button-agendar {
		position: relative;
	}
	.pop-up-agendamento .pop-up {
		max-width: 820px;
	}
}

@media(max-width: 850px){
	.pg-inicial .secao-depoimentos .carrossel-depoimentos li {
		padding: 30px 28px;
	}
	.pg-inicial .agende-sua-consulta .planos {
		padding: 40px 80px 10px;
	}
	footer .menu-footer nav a {
		margin: 0 0 8px;
	}
	footer .menu-footer ul li {
		margin: 0 0 12px;
	}
	footer .logo-footer {
		margin: 0 0 40px;
	}
	footer .menu-footer .titulo {
		margin: 0 0 22px;
	}
	footer .menu-footer.r-social {
		padding-left: 8px;
	}
	footer .menu-footer.local, footer .menu-footer.t-clinico{
		padding-left: 0;
	}
	footer .menu-footer.t-estetico {
		padding-left: 20px;
	}
}

@media(max-width: 768px){
	.sm-hidden{
		display:none;
	}
	header .redes-sociais {
		display: none;
	}
	header {
		padding: 30px 0;
		text-align: left;
	}
	.pg-inicial .secao-destaque .carrossel-destaque .item article .titulo {
		max-width: 380px;
		line-height: 42px;
		font-size: 45px;
	}
	.pg-inicial .secao-destaque .carrossel-destaque .item article p {
		font-size: 14px;
		line-height: 20px;
		margin: 15px 0;
	}
	.pg-inicial .secao-sobre::before, .pg-inicial .secao-sobre .carrossel-sobre::before, .pg-inicial .secao-sobre .carrossel-sobre::after{
		display: none;
	}
	.pg-inicial .secao-destaque .carrossel-destaque .item {
		padding: 98px 0;
		height: 391px;
	}
	.col-mobile{
		display: block;
	}
	.col-desktop{
		display: none;
	}
	.pg-inicial .secao-sobre .carrossel-sobre{
		width: 100%;
		max-width: 600px;
		margin: 30px auto 0;
	}
	.pg-inicial .secao-sobre article {
		padding: 0;
		max-width: 400px;
		margin: 0 auto;
	}
	.pg-inicial .secao-sobre {
		padding: 40px 0;
	}
	.pg-inicial .secao-tratamentos-clinicos {
		background: var(--cinza-claro);
		background: -moz-linear-gradient(to top, var(--cinza-claro) 0, var(--cinza-claro) 35.8%, var(--cinza-claro) 25%, var(--roxo) 15%, var(--roxo) 100%);
		background: -webkit-gradient(left top,right top,color-stop(0, var(--cinza-claro)),color-stop(51%, var(--cinza-claro)),color-stop(56%, var(--cinza-claro)),color-stop(57%, var(--roxo)),color-stop(100%, var(--roxo)));
		background: -webkit-linear-gradient(to top, var(--cinza-claro) 0, var(--cinza-claro) 35.8%, var(--cinza-claro) 25%, var(--roxo) 15%, var(--roxo) 100%);
		background: -o-linear-gradient(to top, var(--cinza-claro) 0, var(--cinza-claro) 35.8%, var(--cinza-claro) 25%, var(--roxo) 15%, var(--roxo) 100%);
		background: -ms-linear-gradient(to top, var(--cinza-claro) 0, var(--cinza-claro) 35.8%, var(--cinza-claro) 25%, var(--roxo) 15%, var(--roxo) 100%);
		background: linear-gradient(to top, var(--cinza-claro) 0, var(--cinza-claro) 35.8%, var(--cinza-claro) 25%, var(--roxo) 15%, var(--roxo) 100%);
	}
	.pg-inicial .secao-tratamentos-clinicos article {
		max-width: 100%;
		padding: 36px 20px;
	}
	.pg-inicial .secao-tratamentos-clinicos .col-cinza {
		padding: 0 10px;
	}
	.pg-inicial .secao-tratamentos-clinicos .col-roxo {
		padding: 0 10px;
	}
	.pg-inicial .secao-tratamentos-clinicos .mid-container{
		padding: 0;
	}
	.pg-inicial .secao-tratamentos-esteticos article {
		padding: 40px 0 0 0;
		max-width: 100%;
	}
	.pg-inicial .secao-tratamentos-esteticos .carrossel-tratamento {
		max-width: 400px;
		margin: 0 auto;
	}
	.pg-inicial .secao-depoimentos .carrossel-depoimentos {
		margin: 20px auto 0;
	}
	.pg-inicial .secao-depoimentos {
		padding: 40px 0 65px;
	}
	.pg-inicial .secao-depoimentos article .titulo {
		padding: 0 6px 0 0;
		line-height: 34px;
	}
	.pg-inicial .secao-depoimentos article p {
		max-width: 54%;
		padding: 0 0px 0 10px;
		line-height: 22px;
	}
	.pg-inicial .secao-localizacao article .titulo {
		margin: 13px 0 16px;
	}
	.pg-inicial .secao-localizacao article p {
		margin: 0 0 12px;
		max-width: 100%;
	}
	.pg-inicial .secao-localizacao article {
		padding: 0;
		max-width: 100%;
	}
	.pg-inicial .secao-localizacao ul li {
		margin: 0 0 18px;
	}
	.pg-inicial .secao-localizacao {
		padding: 30px 0 40px;
	}
	.pg-inicial .secao-localizacao ul {
		margin: 28px 0 0;
	}
	.pg-inicial .agende-sua-consulta article {
		padding: 0;
		max-width: 590px;
		margin: 0 auto 20px;
	}
	.pg-inicial .agende-sua-consulta article p {
		margin: 14px 0;
	}
	.pg-inicial .agende-sua-consulta .planos {
		margin: 0 auto;
		text-align: center;
		padding: 30px 80px 0px;
	}
	.pg-inicial .agende-sua-consulta .large-container {
		padding: 40px 10px 0;
	}
	footer .menu-footer.r-social, footer .menu-footer.local, footer .menu-footer.t-clinico, footer .menu-footer.t-estetico{
		padding: 0 !important;
	}
	footer {
		text-align: center;
	}
	footer .menu-footer nav a {
		margin: 0 auto 8px;
	}
	footer .menu-footer ul li a {
		margin: 0 auto;
	}
	footer .menu-footer {
		margin: 0 0 28px;
	}
	footer .menu-footer .titulo {
		margin: 0 0 14px;
	}
	footer .copyright {
		padding: 12px 0;
	}
	footer .copyright .text-right p {
		text-align: center;
	}
	.pg-inicial .secao-time {
		padding: 38px 0 0;
	}
	.pg-inicial .secao-time .carrossel-time {
		margin: 18px 0 0;
	}
	.pg-inicial .agende-sua-consulta {
		margin: 60px 0;
	}
	.pg-inicial .secao-time .carrossel-time .carousel {
		height: 370px;
	}
	.pg-inicial .secao-time .titulo-time .carrossel-nav {
		display: none;
	}
	.pg-inicial .secao-time .titulo-time, .pg-inicial .secao-time .carrossel-time {
		max-width: 100% !important;
	}
	.pg-inicial .secao-time .carrossel-time .carousel-item figure {
		min-width: unset;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-ms-box-shadow: none;
		-o-box-shadow: none;
		box-shadow: none;
	}
	.pg-inicial .secao-time .carrossel-time .carousel-item .sobre-time{
		padding: 25px 0 0 14px;
		min-width: unset;
	}
	.pg-inicial .secao-time .titulo-time {
		padding-top: 0;
	}
	.pg-inicial .secao-sobre .carrossel-sobre figure {
		max-height: 524px;
	}
	.full-container, .large-container, .mid-container{
		padding: 0 30px;
	}
	.pg-inicial .agende-sua-consulta .large-container{
		padding: 40px 30px 0;
	}
	.pg-inicial .secao-tratamentos-clinicos ul li{
		margin: 0 auto;
		padding: 22px 62px;
	}
	.pg-inicial .secao-tratamentos-clinicos ul li a{
		/* padding: 22px 62px; */
	}
	.pg-inicial .secao-tratamentos-clinicos ul {
		padding: 40px 20px;
		margin: 0 auto;
	}
	.pg-inicial .secao-tratamentos-clinicos ul li img {
		margin-right: 10px;
	}
	.pg-inicial .secao-sobre article ul li {
		margin: 0 2px;
	}
	.pg-inicial .secao-sobre article ul {
		text-align: center;
	}
	.pg-inicial .secao-time .carrossel-time .carousel-item{
		width: 100%;
		height: unset;
		top: unset;
		left: unset;
		background-color: transparent;
		overflow: visible;
		display: block;
		align-items: unset;
		float: initial;
		margin-right: 0;
		-webkit-backface-visibility: unset;
		backface-visibility: unset;
		transition: unset;
		transition: unset;
		transition: unset;
		position: initial;
		opacity: 1 !important;
		transform: initial !important;
		z-index: 0 !important;
		visibility: visible !important;
	}
	.pg-inicial .secao-time .carrossel-time::before{
		display: none;
	}
	footer .menu-footer nav.social-media a {
		display: inline-block;
		width: 100%;
		margin: 0 5px;
	}
	.pop-up-agendamento .pop-up .mapa.mapa-active{
		display: none !important;
	}
}

@media(max-width: 650px){
	.pg-inicial .secao-time .carrossel-time .carousel-item .sobre-time ul li {
		margin: 0 0 6px;
	}
	.pg-inicial .secao-time .carrossel-time .carousel-item .sobre-time {
		padding: 10px 0 0 14px;
	}
	.pg-inicial .secao-time .carrossel-time .carousel-item .sobre-time .titulo {
		font-size: 20px;
	}
	.pg-inicial .secao-time .carrossel-time .carousel-item .sobre-time .titulo span {
		font-size: 16px;
	}
	.pg-inicial .secao-sobre .carrossel-sobre figure {
		max-height: 467px;
	}
}

@media(max-width: 600px){
	.pg-inicial .secao-depoimentos article .titulo {
		margin: 0 0 20px;
	}
	.pg-inicial .secao-depoimentos article .titulo, .pg-inicial .secao-depoimentos article p {
		max-width: 100% !important;
		padding: 0 !important;
	}
	.pg-inicial .secao-time .carrossel-time .carousel-item figure, .pg-inicial .secao-time .carrossel-time .carousel-item .sobre-time{
		max-width: 100% !important;
	}
	.pg-inicial .secao-time .carrossel-time .carousel-item figure {
		text-align: center;
	}
	.pg-inicial .secao-time .carrossel-time .carousel-item figure img {
		max-width: 260px;
		display: inline-block;
	}
	.pg-inicial .secao-time .carrossel-time .carousel-item .sobre-time {
		padding: 10px 0 0 0;
	}
}

@media(max-width: 500px){
	.button-agendar {
		padding: 12px 26px;
		font-size: 11px;
	}
	.pg-inicial .secao-destaque .carrossel-destaque .item article p {
		font-size: 13px;
		margin: 6px 0 15px;
	}
	.pg-inicial .secao-destaque .carrossel-destaque .item article .titulo {
		max-width: 380px;
		line-height: 42px;
		font-size: 30px;
	}
	.pg-inicial .secao-destaque .carrossel-destaque .item {
		padding: 55px 0;
		height: 252px;
	}
	header {
		position: initial;
		background-color: #000;
		-webkit-transform: initial;
		-moz-transform: initial;
		-ms-transform: initial;
		-o-transform: initial;
		transform: initial;
	}
	.titulo {
		font-size: 28px;
	}
	.pg-inicial .secao-tratamentos-esteticos article {
		padding: 20px 0 0 0;
	}
	.pg-inicial .agende-sua-consulta article p {
		line-height: 18px;
	}
	.pg-inicial .secao-time .carrossel-time .carousel {
		height: 430px;
	}
	.pg-inicial .secao-sobre .carrossel-sobre figure {
		max-height: 376px;
	}
	.pg-inicial .agende-sua-consulta .planos {
		padding: 30px 15px 0px;
	}
	.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .icone-horario::before, .pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .icone-celular::before {
		left: 35px;
	}
}

@media(max-width: 445px){
	.pg-inicial .secao-localizacao ul li .info-localizacao .telefone.tel {
		margin-right: 5px;
	}
	.pg-inicial .secao-time .carrossel-time .carousel-item .sobre-timetime {
		max-width: 100%;
		text-align: left;
		padding: 0;
	}
	.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form input, .pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form select {
		padding: 10px 10px;
	}
	.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .icone-input::before{
		display: none;
	}
	.pg-inicial .secao-tratamentos-clinicos article .div-button-ler-mais, .pg-inicial .secao-tratamentos-clinicos article .div-button-agendar{
		max-width: 49.4%;
	}
	.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .agendamento-selects .wpcf7-form-control-wrap{
		max-width: 100%;
	}
}

@media(max-width: 425px){
	.pg-inicial .secao-tratamentos-esteticos article ul li {
		
		display: block;
	}
	.pg-inicial .secao-tratamentos-esteticos article ul li::before{
		
	}
	.pg-inicial .secao-depoimentos .carrossel-depoimentos {
		padding: 0 0;
	}
	.pg-inicial .secao-depoimentos .carrossel-depoimentos .owl-stage .owl-item{
		padding: 0 30px;
	}
}

@media(max-width: 400px){
	.pg-inicial .secao-destaque .carrossel-destaque .item{
		height: unset;
	}
	.pg-inicial .secao-localizacao ul li .info-localizacao p {
		font-size: 12px;
		margin: 6px 0 10px;
	}
	.pg-inicial .secao-localizacao ul li .info-localizacao .telefone.tel {
		margin-right: 5px;
	}
	.pg-inicial .secao-localizacao ul li .info-localizacao .titulo {
		font-size: 17px;
	}
	.pg-inicial .secao-localizacao ul li .info-localizacao {
		padding: 15px 26px;
	}
	.pg-inicial .agende-sua-consulta .planos .titulo {
		font-size: 14px;
	}
	.pg-inicial .secao-sobre .carrossel-sobre figure {
		max-height: 287px;
	}
	.pg-inicial .secao-tratamentos-clinicos article .div-button-ler-mais, .pg-inicial .secao-tratamentos-clinicos article .div-button-agendar {
		max-width: 49.3%;
	}
}

@media(max-width: 367px){
	.pg-inicial .secao-tratamentos-clinicos ul li{
		padding: 22px 57px;
	}
	.pg-inicial .secao-tratamentos-clinicos ul li a {
		/* padding: 22px 57px; */
	}
}

@media(max-width: 358px){
	.pg-inicial .secao-tratamentos-clinicos ul li{
		padding: 22px 50px;
	}
	.pg-inicial .secao-tratamentos-clinicos ul li a {
		/* padding: 22px 50px; */
	}
}

@media(max-width: 350px){
	.pg-inicial .secao-localizacao ul li .info-localizacao {
		padding: 20px 26px;
	}
	.pg-inicial .secao-localizacao ul li .info-localizacao, .pg-inicial .secao-localizacao ul li .mapa {
		max-width: 100% !important;
	}
	.pg-inicial .secao-time .carrossel-time .carousel {
		height: 440px;
	}
	.pg-inicial .secao-sobre .carrossel-sobre figure {
		max-height: 227px;
	}
	.pg-inicial .secao-localizacao ul li .mapa{
		height: 100px;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.pg-inicial .secao-localizacao ul li .mapa img {
		max-width: 160px;
	}
	.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .button-agendar {
		padding: 14px 10px;
	}
}

@media(max-width: 344px){
	.pg-inicial .secao-tratamentos-clinicos ul li{
		padding: 22px 50px;
	}
	.pg-inicial .secao-tratamentos-clinicos ul li a {
		/* padding: 22px 50px; */
	}
	.pg-inicial .secao-sobre article ul li img {
		max-width: 80px;
	}
	.pg-inicial .secao-sobre article ul li {
		margin: 0 0px;
	}
	.pg-inicial .secao-tratamentos-clinicos article .div-button-ler-mais, .pg-inicial .secao-tratamentos-clinicos article .div-button-agendar {
		max-width: 49.2%;
	}
}

@media(max-width: 324px){
	.pg-inicial .secao-tratamentos-clinicos ul li{
		padding: 22px 35px;
	}
	.pg-inicial .secao-tratamentos-clinicos ul li a {
		/* padding: 22px 35px; */
	}
	.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .button-agendar {
		padding: 14px 6px;
	}
	.pop-up-agendamento .pop-up .area-formulario .formulario-agendamento form .button-cancelar .span-cancelar {
		padding: 9px 32px;
	}
}
/* MEDIA QUERY 